<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties" />
	<!-- JavaBean类型自动映射扫描包配置 Java类型别名 -->
	<typeAliases>
		<package name="com.project.mgt.entity" />
	</typeAliases>

	<!--&lt;!&ndash; 数据库环境 &ndash;&gt;-->
	<!--<environments default="development">-->
		<!--<environment id="development">-->
			<!--&lt;!&ndash; 使用JDBC使用管理 &ndash;&gt;-->
			<!--<transactionManager type="JDBC" />-->
			<!--&lt;!&ndash; 数据源配置 &ndash;&gt;-->
			<!--<dataSource type="POOLED">-->
				<!--<property name="driver" value="${database.driverName}" />-->
				<!--<property name="url" value="${database.url}" />-->
				<!--<property name="username" value="${database.username}" />-->
				<!--<property name="password" value="${database.password}" />-->
			<!--</dataSource>-->
		<!--</environment>-->
	<!--</environments>-->

	<!--&lt;!&ndash; 映射器，MyBatis最核心的组建，提供SQL和POJO的映射关系，这是MyBatis开发的核心 &ndash;&gt;-->
	 <!--<mappers>-->
		<!--<mapper resource="classpath:mybatis/*.xml" />-->
	<!--</mappers>-->

</configuration>