<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.CoordMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.Coord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="coordination" jdbcType="VARCHAR" property="coordination" />
    <result column="coordinator" jdbcType="VARCHAR" property="coordinator" />
    <result column="priority" jdbcType="VARCHAR" property="priority" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="enable" jdbcType="CHAR" property="enable" />
    <result column="node_type" jdbcType="CHAR" property="nodeType" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="back_up1" jdbcType="VARCHAR" property="backUp1" />
    <result column="back_up2" jdbcType="VARCHAR" property="backUp2" />
    <result column="back_up3" jdbcType="VARCHAR" property="backUp3" />
    <result column="back_up4" jdbcType="VARCHAR" property="backUp4" />
    <result column="back_up5" jdbcType="VARCHAR" property="backUp5" />
    <result column="back_up6" jdbcType="VARCHAR" property="backUp6" />
    <result column="back_up7" jdbcType="VARCHAR" property="backUp7" />
    <result column="back_up8" jdbcType="VARCHAR" property="backUp8" />
    <result column="back_up9" jdbcType="VARCHAR" property="backUp9" />
    <result column="back_up10" jdbcType="VARCHAR" property="backUp10" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="uploader" jdbcType="VARCHAR" property="uploader" />
    <result column="modifer" jdbcType="VARCHAR" property="modifer" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.portjs.base.entity.Coord">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coordination, coordinator, priority, project_id, enable, node_type, file_url, 
    file_name, back_up1, back_up2, back_up3, back_up4, back_up5, back_up6, back_up7, 
    back_up8, back_up9, back_up10, upload_time, uploader, modifer, modify_time
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from internal_coord
    <where>
      enable = 0
      <if test="id != null">
        AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="projectId != null">
        AND project_id = #{projectId,jdbcType=VARCHAR}
      </if>
      <if test="nodeType != null">
        AND node_type = #{nodeType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="list">
    delete from internal_coord where id IN
    <foreach item="id" index="index" collection="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.Coord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into internal_coord (coordination, coordinator, priority, 
      project_id, enable, node_type, 
      file_url, file_name, back_up1, 
      back_up2, back_up3, back_up4, 
      back_up5, back_up6, back_up7, 
      back_up8, back_up9, back_up10, 
      upload_time, uploader, modifer, 
      modify_time, description)
    values (#{coordination,jdbcType=VARCHAR}, #{coordinator,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=VARCHAR}, #{enable,jdbcType=CHAR}, #{nodeType,jdbcType=CHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{backUp1,jdbcType=VARCHAR}, 
      #{backUp2,jdbcType=VARCHAR}, #{backUp3,jdbcType=VARCHAR}, #{backUp4,jdbcType=VARCHAR}, 
      #{backUp5,jdbcType=VARCHAR}, #{backUp6,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, 
      #{backUp8,jdbcType=VARCHAR}, #{backUp9,jdbcType=VARCHAR}, #{backUp10,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{uploader,jdbcType=VARCHAR}, #{modifer,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.Coord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into internal_coord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coordination != null">
        coordination,
      </if>
      <if test="coordinator != null">
        coordinator,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="nodeType != null">
        node_type,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="backUp1 != null">
        back_up1,
      </if>
      <if test="backUp2 != null">
        back_up2,
      </if>
      <if test="backUp3 != null">
        back_up3,
      </if>
      <if test="backUp4 != null">
        back_up4,
      </if>
      <if test="backUp5 != null">
        back_up5,
      </if>
      <if test="backUp6 != null">
        back_up6,
      </if>
      <if test="backUp7 != null">
        back_up7,
      </if>
      <if test="backUp8 != null">
        back_up8,
      </if>
      <if test="backUp9 != null">
        back_up9,
      </if>
      <if test="backUp10 != null">
        back_up10,
      </if>
        upload_time,
      <if test="uploader != null">
        uploader,
      </if>
      <if test="modifer != null">
        modifer,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="coordination != null">
        #{coordination,jdbcType=VARCHAR},
      </if>
      <if test="coordinator != null">
        #{coordinator,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=CHAR},
      </if>
      <if test="nodeType != null">
        #{nodeType,jdbcType=CHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="backUp1 != null">
        #{backUp1,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null">
        #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null">
        #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null">
        #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null">
        #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        #{backUp10,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
      <if test="uploader != null">
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="modifer != null">
        #{modifer,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.Coord">
    update internal_coord
    <set>
      <if test="coordination != null">
        coordination = #{coordination,jdbcType=VARCHAR},
      </if>
      <if test="coordinator != null">
        coordinator = #{coordinator,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="nodeType != null">
        node_type = #{nodeType,jdbcType=CHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="backUp1 != null">
        back_up1 = #{backUp1,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null">
        back_up2 = #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null">
        back_up3 = #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null">
        back_up4 = #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null">
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        back_up6 = #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        back_up10 = #{backUp10,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null">
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="modifer != null">
        modifer = #{modifer,jdbcType=VARCHAR},
      </if>
        modify_time = SYSDATE(),
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null">
      and project_id = #{projectId,jdbcType=VARCHAR}
    </if>
    <if test="nodeType != null">
      and node_type = #{nodeType,jdbcType=CHAR}
    </if>
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.portjs.base.entity.Coord">
    update internal_coord
    set coordination = #{coordination,jdbcType=VARCHAR},
      coordinator = #{coordinator,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      node_type = #{nodeType,jdbcType=CHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      back_up1 = #{backUp1,jdbcType=VARCHAR},
      back_up2 = #{backUp2,jdbcType=VARCHAR},
      back_up3 = #{backUp3,jdbcType=VARCHAR},
      back_up4 = #{backUp4,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=VARCHAR},
      modifer = #{modifer,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.Coord">
    update internal_coord
    set coordination = #{coordination,jdbcType=VARCHAR},
      coordinator = #{coordinator,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      node_type = #{nodeType,jdbcType=CHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      back_up1 = #{backUp1,jdbcType=VARCHAR},
      back_up2 = #{backUp2,jdbcType=VARCHAR},
      back_up3 = #{backUp3,jdbcType=VARCHAR},
      back_up4 = #{backUp4,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=VARCHAR},
      modifer = #{modifer,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>