<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.InternalApprovalMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.InternalApproval">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="enable" jdbcType="CHAR" property="enable" />
    <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime" />
    <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
    <result column="back_up5" jdbcType="VARCHAR" property="backUp5" />
    <result column="back_up6" jdbcType="VARCHAR" property="backUp6" />
    <result column="back_up7" jdbcType="VARCHAR" property="backUp7" />
    <result column="back_up8" jdbcType="VARCHAR" property="backUp8" />
    <result column="back_up9" jdbcType="VARCHAR" property="backUp9" />
    <result column="back_up10" jdbcType="VARCHAR" property="backUp10" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="calibration_time" jdbcType="TIMESTAMP" property="calibrationTime" />
    <result column="successful_bidder" jdbcType="VARCHAR" property="successfulBidder" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.portjs.base.entity.InternalApproval">
    <result column="bidding_content" jdbcType="LONGVARCHAR" property="biddingContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, creat_time, creater, update_time, updater, enable, plan_start_time, 
    plan_end_time, actual_start_time, actual_end_time, back_up5, back_up6, back_up7, 
    back_up8, back_up9, back_up10, unit, method, calibration_time, successful_bidder, 
    amount
  </sql>
  <sql id="Blob_Column_List">
    bidding_content
  </sql>

  <select id="newIncreaseProjectCount" resultType="Integer">
    select count(*) from (select * from internal_approval WHERE
    unix_timestamp( creat_time ) between unix_timestamp( DATE_SUB(CURDATE(),INTERVAL dayofyear(now())-1 DAY))
    and unix_timestamp( SYSDATE())  GROUP BY project_id) as a
  </select>

  <select id="newIncreaseProjectAmountCount" resultType="BigDecimal">
  select sum(amount) from (select * from internal_approval WHERE
  unix_timestamp( creat_time ) between unix_timestamp( DATE_SUB(CURDATE(),INTERVAL dayofyear(now())-1 DAY))
  and unix_timestamp( SYSDATE())  GROUP BY project_id) as a;
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from internal_approval
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from internal_approval
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.InternalApproval">
    insert into internal_approval (id, project_id, creat_time, 
      creater, update_time, updater, 
      enable, plan_start_time, plan_end_time, 
      actual_start_time, actual_end_time, back_up5, 
      back_up6, back_up7, back_up8, 
      back_up9, back_up10, unit, 
      method, calibration_time, successful_bidder, 
      amount, bidding_content)
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{enable,jdbcType=CHAR}, #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP},
      #{actualStartTime,jdbcType=TIMESTAMP}, #{actualEndTime,jdbcType=TIMESTAMP}, #{backUp5,jdbcType=VARCHAR},
      #{backUp6,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, #{backUp8,jdbcType=VARCHAR}, 
      #{backUp9,jdbcType=VARCHAR}, #{backUp10,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{calibrationTime,jdbcType=TIMESTAMP}, #{successfulBidder,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{biddingContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.InternalApproval">
    insert into internal_approval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="planStartTime != null">
        plan_start_time,
      </if>
      <if test="planEndTime != null">
        plan_end_time,
      </if>
      <if test="actualStartTime != null">
        actual_start_time,
      </if>
      <if test="actualEndTime != null">
        actual_end_time,
      </if>
      <if test="backUp5 != null">
        back_up5,
      </if>
      <if test="backUp6 != null">
        back_up6,
      </if>
      <if test="backUp7 != null">
        back_up7,
      </if>
      <if test="backUp8 != null">
        back_up8,
      </if>
      <if test="backUp9 != null">
        back_up9,
      </if>
      <if test="backUp10 != null">
        back_up10,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="calibrationTime != null">
        calibration_time,
      </if>
      <if test="successfulBidder != null">
        successful_bidder,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="biddingContent != null">
        bidding_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=CHAR},
      </if>
      <if test="planStartTime != null">
        #{planStartTime,jdbcType=VARCHAR},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=VARCHAR},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=VARCHAR},
      </if>
      <if test="actualEndTime != null">
        #{actualEndTime,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null">
        #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        #{backUp10,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="calibrationTime != null">
        #{calibrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successfulBidder != null">
        #{successfulBidder,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="biddingContent != null">
        #{biddingContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.InternalApproval">
    update internal_approval
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="planStartTime != null">
        plan_start_time = #{planStartTime,jdbcType=VARCHAR},
      </if>
      <if test="planEndTime != null">
        plan_end_time = #{planEndTime,jdbcType=VARCHAR},
      </if>
      <if test="actualStartTime != null">
        actual_start_time = #{actualStartTime,jdbcType=VARCHAR},
      </if>
      <if test="actualEndTime != null">
        actual_end_time = #{actualEndTime,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null">
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        back_up6 = #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        back_up10 = #{backUp10,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="calibrationTime != null">
        calibration_time = #{calibrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successfulBidder != null">
        successful_bidder = #{successfulBidder,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="biddingContent != null">
        bidding_content = #{biddingContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.portjs.base.entity.InternalApproval">
    update internal_approval
    set project_id = #{projectId,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      plan_start_time = #{planStartTime,jdbcType=VARCHAR},
      plan_end_time = #{planEndTime,jdbcType=VARCHAR},
      actual_start_time = #{actualStartTime,jdbcType=VARCHAR},
      actual_end_time = #{actualEndTime,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      calibration_time = #{calibrationTime,jdbcType=TIMESTAMP},
      successful_bidder = #{successfulBidder,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      bidding_content = #{biddingContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.InternalApproval">
    update internal_approval
    set project_id = #{projectId,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      plan_start_time = #{planStartTime,jdbcType=VARCHAR},
      plan_end_time = #{planEndTime,jdbcType=VARCHAR},
      actual_start_time = #{actualStartTime,jdbcType=VARCHAR},
      actual_end_time = #{actualEndTime,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      calibration_time = #{calibrationTime,jdbcType=TIMESTAMP},
      successful_bidder = #{successfulBidder,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectCreateTime" resultType="java.lang.String">
  select min(creat_time) from internal_approval where enable='0' and project_id in
  <foreach collection="projectId" item="pId" open="(" close=")" separator=",">
    #{pId}
  </foreach>
  </select>

  <select id="selectAbuildingProject" resultType="Double">
    select sum(amount)from internal_approval where enable='0' and DATE_FORMAT(creat_time,'%Y')=#{niandu} and project_id in
    <foreach collection="projectId" item="pId" open="(" close=")" separator=",">
      #{pId}
    </foreach>
  </select>
</mapper>