<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.InternalPactMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.InternalPact">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="uploader" jdbcType="VARCHAR" property="uploader" />
    <result column="uploader_name" jdbcType="VARCHAR" property="uploaderName" />
    <result column="involved_unit" jdbcType="VARCHAR" property="involvedUnit" />
    <result column="sign_state" jdbcType="VARCHAR" property="signState" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="trade_names" jdbcType="VARCHAR" property="tradeNames" />
    <result column="file_type" jdbcType="CHAR" property="fileType" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime" />
    <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime" />
    <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime" />
    <result column="back_up5" jdbcType="VARCHAR" property="backUp5" />
    <result column="back_up6" jdbcType="VARCHAR" property="backUp6" />
    <result column="back_up7" jdbcType="VARCHAR" property="backUp7" />
    <result column="back_up8" jdbcType="VARCHAR" property="backUp8" />
    <result column="back_up9" jdbcType="VARCHAR" property="backUp9" />
    <result column="back_up10" jdbcType="VARCHAR" property="backUp10" />
    <result column="enable" jdbcType="CHAR" property="enable" />
    <result column="project_life_type" jdbcType="VARCHAR" property="projectLifeType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, upload_time, uploader, uploader_name, involved_unit, sign_state, name, "trade _names", 
    file_type, file_size, file_url, company_name, stage_name, project_id, plan_start_time, 
    plan_end_time, actual_start_time, actual_end_time, back_up5, back_up6, back_up7, 
    back_up8, back_up9, back_up10, enable, project_life_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.portjs.base.entity.InternalPact" resultMap="BaseResultMap">
    select 
    *
    from internal_pact
    <where>
      enable = 0
      <if test="id != null">
        AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="projectId != null">
        AND project_id = #{projectId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="queryAllPacts" resultMap="BaseResultMap">
    select
    *
    from internal_pact
    where project_id=#{id,jdbcType=VARCHAR}
    <!--<if test="involved_unit != null and involved_unit !=''">
      AND involved_unit LIKE CONCAT('%',#{involved_unit},'%')
    </if>
    <if test="sign_state != null and sign_state !=''">
      AND sign_state LIKE CONCAT('%',#{sign_state},'%')
    </if>
    <if test="trade_names != null and trade_names !=''">
      AND trade_names LIKE CONCAT('%',#{trade_names},'%')
    </if>
    <if test="name != null and name !=''">
      AND name LIKE CONCAT('%',#{name},'%')
    </if>-->
    order by upload_time asc limit #{pageNo},#{pageSize}
  </select>



  <select id="pactCount" resultType="Integer">
    select
    count(*)
    from internal_pact
    where project_id=#{id,jdbcType=VARCHAR}
    <!--<if test="involved_unit != null and involved_unit !=''">
      AND involved_unit LIKE CONCAT('%',#{involved_unit},'%')
    </if>
    <if test="sign_state != null and sign_state !=''">
      AND sign_state LIKE CONCAT('%',#{sign_state},'%')
    </if>
    <if test="trade_names != null and trade_names !=''">
      AND trade_names LIKE CONCAT('%',#{trade_names},'%')
    </if>
    <if test="name != null and name !=''">
      AND name LIKE CONCAT('%',#{name},'%')
    </if>-->
  </select>

  <delete id="deleteByPrimaryKey">
    delete from internal_pact
    where id in
    <foreach item="ids" index="index" collection="ids" open="(" separator="," close=")">
      #{ids}
    </foreach>
  </delete>

  <insert id="insertPact" parameterType="com.portjs.base.entity.InternalPact">
    insert into internal_pact (id, upload_time, uploader, 
      uploader_name, involved_unit, sign_state, 
      name, trade_names, file_type,
      file_size, file_url, company_name, 
      stage_name, project_id, plan_start_time, 
      plan_end_time, actual_start_time, actual_end_time, 
      back_up5, back_up6, back_up7, 
      back_up8, back_up9, back_up10, 
      enable, project_life_type)
    values (#{id,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{uploader,jdbcType=VARCHAR}, 
      #{uploaderName,jdbcType=VARCHAR}, #{involvedUnit,jdbcType=VARCHAR}, #{signState,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{tradeNames,jdbcType=VARCHAR}, #{fileType,jdbcType=CHAR}, 
      #{fileSize,jdbcType=DOUBLE}, #{fileUrl,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{stageName,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{planStartTime,jdbcType=TIMESTAMP}, 
      #{planEndTime,jdbcType=TIMESTAMP}, #{actualStartTime,jdbcType=TIMESTAMP}, #{actualEndTime,jdbcType=TIMESTAMP}, 
      #{backUp5,jdbcType=VARCHAR}, #{backUp6,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, 
      #{backUp8,jdbcType=VARCHAR}, #{backUp9,jdbcType=VARCHAR}, #{backUp10,jdbcType=VARCHAR}, 
      #{enable,jdbcType=CHAR}, #{projectLifeType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.InternalPact">
    insert into internal_pact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
        upload_time,
      <if test="uploader != null">
        uploader,
      </if>
      <if test="uploaderName != null">
        uploader_name,
      </if>
      <if test="involvedUnit != null">
        involved_unit,
      </if>
      <if test="signState != null">
        sign_state,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tradeNames != null">
        trade_names,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="stageName != null">
        stage_name,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="planStartTime != null">
        plan_start_time,
      </if>
      <if test="planEndTime != null">
        plan_end_time,
      </if>
      <if test="actualStartTime != null">
        actual_start_time,
      </if>
      <if test="actualEndTime != null">
        actual_end_time,
      </if>
      <if test="backUp5 != null">
        back_up5,
      </if>
      <if test="backUp6 != null">
        back_up6,
      </if>
      <if test="backUp7 != null">
        back_up7,
      </if>
      <if test="backUp8 != null">
        back_up8,
      </if>
      <if test="backUp9 != null">
        back_up9,
      </if>
      <if test="backUp10 != null">
        back_up10,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="projectLifeType != null">
        project_life_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      SYSDATE(),
      <if test="uploader != null">
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="uploaderName != null">
        #{uploaderName,jdbcType=VARCHAR},
      </if>
      <if test="involvedUnit != null">
        #{involvedUnit,jdbcType=VARCHAR},
      </if>
      <if test="signState != null">
        #{signState,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tradeNames != null">
        #{tradeNames,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="stageName != null">
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null">
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backUp5 != null">
        #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        #{backUp10,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=CHAR},
      </if>
      <if test="projectLifeType != null">
        #{projectLifeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateFalseDeletion" parameterType="list">
    update internal_pact SET  enable=1 WHERE  id IN
    <foreach item="id" index="index" collection="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.InternalPact">
    update internal_pact
    <set>
        upload_time = SYSDATE(),
      <if test="uploader != null">
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="uploaderName != null">
        uploader_name = #{uploaderName,jdbcType=VARCHAR},
      </if>
      <if test="involvedUnit != null">
        involved_unit = #{involvedUnit,jdbcType=VARCHAR},
      </if>
      <if test="signState != null">
        sign_state = #{signState,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tradeNames != null">
        trade_names = #{tradeNames,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="stageName != null">
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null">
        plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndTime != null">
        actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backUp5 != null">
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null">
        back_up6 = #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null">
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null">
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null">
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null">
        back_up10 = #{backUp10,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="projectLifeType != null">
        project_life_type = #{projectLifeType,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null">
      and project_id = #{projectId,jdbcType=VARCHAR}
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.InternalPact">
    update internal_pact
    set upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=VARCHAR},
      uploader_name = #{uploaderName,jdbcType=VARCHAR},
      involved_unit = #{involvedUnit,jdbcType=VARCHAR},
      sign_state = #{signState,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      "trade _names" = #{tradeNames,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=CHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      plan_start_time = #{planStartTime,jdbcType=TIMESTAMP},
      plan_end_time = #{planEndTime,jdbcType=TIMESTAMP},
      actual_start_time = #{actualStartTime,jdbcType=TIMESTAMP},
      actual_end_time = #{actualEndTime,jdbcType=TIMESTAMP},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      project_life_type = #{projectLifeType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>