<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.InternalAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.InternalAttachment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="modifer" property="modifer" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="relateddomain" property="relateddomain" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="file_module" property="fileModule" jdbcType="VARCHAR" />
    <result column="relateddomain_id" property="relateddomainId" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="DOUBLE" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="back_up2" property="backUp2" jdbcType="VARCHAR" />
    <result column="back_up3" property="backUp3" jdbcType="VARCHAR" />
    <result column="back_up4" property="backUp4" jdbcType="VARCHAR" />
    <result column="back_up5" property="backUp5" jdbcType="VARCHAR" />
    <result column="back_up6" property="backUp6" jdbcType="VARCHAR" />
    <result column="back_up7" property="backUp7" jdbcType="VARCHAR" />
    <result column="back_up8" property="backUp8" jdbcType="VARCHAR" />
    <result column="back_up9" property="backUp9" jdbcType="VARCHAR" />
    <result column="back_up10" property="backUp10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, upload_time, uploader, modifer, modify_time, relateddomain, file_url, file_module, 
    relateddomain_id, file_type, file_name, file_size, enable, sort, back_up2, back_up3, 
    back_up4, back_up5, back_up6, back_up7, back_up8, back_up9, back_up10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.InternalAttachmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from internal_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from internal_attachment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from internal_attachment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.InternalAttachmentExample" >
    delete from internal_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.InternalAttachment" >
    insert into internal_attachment (id, upload_time, uploader, 
      modifer, modify_time, relateddomain, 
      file_url, file_module, relateddomain_id, 
      file_type, file_name, file_size, 
      enable, sort, back_up2, 
      back_up3, back_up4, back_up5, 
      back_up6, back_up7, back_up8, 
      back_up9, back_up10)
    values (#{id,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{uploader,jdbcType=VARCHAR}, 
      #{modifer,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{relateddomain,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{fileModule,jdbcType=VARCHAR}, #{relateddomainId,jdbcType=VARCHAR}, 
      #{fileType,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=DOUBLE}, 
      #{enable,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, #{backUp2,jdbcType=VARCHAR}, 
      #{backUp3,jdbcType=VARCHAR}, #{backUp4,jdbcType=VARCHAR}, #{backUp5,jdbcType=VARCHAR}, 
      #{backUp6,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, #{backUp8,jdbcType=VARCHAR}, 
      #{backUp9,jdbcType=VARCHAR}, #{backUp10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.InternalAttachment" >
    insert into internal_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
      <if test="uploader != null" >
        uploader,
      </if>
      <if test="modifer != null" >
        modifer,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="relateddomain != null" >
        relateddomain,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="fileModule != null" >
        file_module,
      </if>
      <if test="relateddomainId != null" >
        relateddomain_id,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="backUp2 != null" >
        back_up2,
      </if>
      <if test="backUp3 != null" >
        back_up3,
      </if>
      <if test="backUp4 != null" >
        back_up4,
      </if>
      <if test="backUp5 != null" >
        back_up5,
      </if>
      <if test="backUp6 != null" >
        back_up6,
      </if>
      <if test="backUp7 != null" >
        back_up7,
      </if>
      <if test="backUp8 != null" >
        back_up8,
      </if>
      <if test="backUp9 != null" >
        back_up9,
      </if>
      <if test="backUp10 != null" >
        back_up10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null" >
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="modifer != null" >
        #{modifer,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relateddomain != null" >
        #{relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileModule != null" >
        #{fileModule,jdbcType=VARCHAR},
      </if>
      <if test="relateddomainId != null" >
        #{relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null" >
        #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null" >
        #{backUp10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.InternalAttachmentExample" resultType="java.lang.Integer" >
    select count(*) from internal_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update internal_attachment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null" >
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploader != null" >
        uploader = #{record.uploader,jdbcType=VARCHAR},
      </if>
      <if test="record.modifer != null" >
        modifer = #{record.modifer,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.relateddomain != null" >
        relateddomain = #{record.relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUrl != null" >
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.fileModule != null" >
        file_module = #{record.fileModule,jdbcType=VARCHAR},
      </if>
      <if test="record.relateddomainId != null" >
        relateddomain_id = #{record.relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null" >
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSize != null" >
        file_size = #{record.fileSize,jdbcType=DOUBLE},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp2 != null" >
        back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp3 != null" >
        back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp4 != null" >
        back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp5 != null" >
        back_up5 = #{record.backUp5,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp6 != null" >
        back_up6 = #{record.backUp6,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp7 != null" >
        back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp8 != null" >
        back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp9 != null" >
        back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp10 != null" >
        back_up10 = #{record.backUp10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update internal_attachment
    set id = #{record.id,jdbcType=VARCHAR},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      uploader = #{record.uploader,jdbcType=VARCHAR},
      modifer = #{record.modifer,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      relateddomain = #{record.relateddomain,jdbcType=VARCHAR},
      file_url = #{record.fileUrl,jdbcType=VARCHAR},
      file_module = #{record.fileModule,jdbcType=VARCHAR},
      relateddomain_id = #{record.relateddomainId,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      file_size = #{record.fileSize,jdbcType=DOUBLE},
      enable = #{record.enable,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=VARCHAR},
      back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      back_up5 = #{record.backUp5,jdbcType=VARCHAR},
      back_up6 = #{record.backUp6,jdbcType=VARCHAR},
      back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      back_up10 = #{record.backUp10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.InternalAttachment" >
    update internal_attachment
    <set >
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null" >
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="modifer != null" >
        modifer = #{modifer,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relateddomain != null" >
        relateddomain = #{relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileModule != null" >
        file_module = #{fileModule,jdbcType=VARCHAR},
      </if>
      <if test="relateddomainId != null" >
        relateddomain_id = #{relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        back_up2 = #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        back_up3 = #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        back_up4 = #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null" >
        back_up6 = #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null" >
        back_up10 = #{backUp10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.InternalAttachment" >
    update internal_attachment
    set upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=VARCHAR},
      modifer = #{modifer,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      relateddomain = #{relateddomain,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      file_module = #{fileModule,jdbcType=VARCHAR},
      relateddomain_id = #{relateddomainId,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      enable = #{enable,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      back_up2 = #{backUp2,jdbcType=VARCHAR},
      back_up3 = #{backUp3,jdbcType=VARCHAR},
      back_up4 = #{backUp4,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>