<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.ProjectMonthlyMapper">
    <resultMap id="BaseResultMap" type="com.portjs.base.entity.ProjectMonthly">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
        <result column="project_type" property="projectType" jdbcType="VARCHAR"/>
        <result column="leval" property="leval" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="project_code" property="projectCode" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_manager" property="projectManager" jdbcType="VARCHAR"/>
        <result column="situation" property="situation" jdbcType="VARCHAR"/>
        <result column="performance" property="performance" jdbcType="VARCHAR"/>
        <result column="schedule" property="schedule" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="Modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP"/>
        <result column="month_num" property="monthNum" jdbcType="VARCHAR"/>
        <result column="project_schedule" property="projectSchedule" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="predict_startTime" property="predictStarttime" jdbcType="VARCHAR"/>
        <result column="pridect_endTime" property="pridectEndtime" jdbcType="VARCHAR"/>
        <result column="current_progress" property="currentProgress" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, project_id, project_type, leval, status, project_code, project_name, project_manager, 
    situation, performance, schedule, remark, create_time, creator, Modifier, update_time, 
    delete_time, month_num,project_schedule,content,predict_startTime,pridect_endTime,current_progress
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.ProjectMonthlyExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from project_monthly
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from project_monthly
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from project_monthly
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.portjs.base.entity.ProjectMonthlyExample">
        delete from project_monthly
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.portjs.base.entity.ProjectMonthly">
    insert into project_monthly (id, project_id, project_type, 
      leval, status, project_code, 
      project_name, project_manager, situation, 
      performance, schedule, remark, 
      create_time, creator, Modifier, 
      update_time, delete_time, month_num,project_schedule,content,predict_startTime,pridect_endTime,current_progress
      )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR}, 
      #{leval,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{projectManager,jdbcType=VARCHAR}, #{situation,jdbcType=VARCHAR}, 
      #{performance,jdbcType=VARCHAR}, #{schedule,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{monthNum,jdbcType=VARCHAR},
      #{projectSchedule,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{predictStarttime,jdbcType=TIMESTAMP},
      #{pridectEndtime,jdbcType=TIMESTAMP},#{currentProgress,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.portjs.base.entity.ProjectMonthly">
        insert into project_monthly
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectType != null">
                project_type,
            </if>
            <if test="leval != null">
                leval,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="projectCode != null">
                project_code,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="projectManager != null">
                project_manager,
            </if>
            <if test="situation != null">
                situation,
            </if>
            <if test="performance != null">
                performance,
            </if>
            <if test="schedule != null">
                schedule,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                Modifier,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="monthNum != null">
                month_num,
            </if>
            <if test="projectSchedule != null">
                project_schedule,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="predictStarttime != null">
                predict_startTime,
            </if>
            <if test="pridectEndtime != null">
                pridect_endTime,
            </if>
            <if test="currentProgress != null">
                current_progress,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                #{projectType,jdbcType=VARCHAR},
            </if>
            <if test="leval != null">
                #{leval,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="projectCode != null">
                #{projectCode,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectManager != null">
                #{projectManager,jdbcType=VARCHAR},
            </if>
            <if test="situation != null">
                #{situation,jdbcType=VARCHAR},
            </if>
            <if test="performance != null">
                #{performance,jdbcType=VARCHAR},
            </if>
            <if test="schedule != null">
                #{schedule,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="monthNum != null">
                #{monthNum,jdbcType=VARCHAR},
            </if>
            <if test="projectSchedule != null">
                #{projectSchedule,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="predictStarttime != null">
                #{predictStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="pridectEndtime != null">
                #{pridectEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="currentProgress != null">
                #{currentProgress,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.portjs.base.entity.ProjectMonthlyExample"
            resultType="java.lang.Integer">
        select count(*) from project_monthly
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update project_monthly
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.projectId != null">
                project_id = #{record.projectId,jdbcType=VARCHAR},
            </if>
            <if test="record.projectType != null">
                project_type = #{record.projectType,jdbcType=VARCHAR},
            </if>
            <if test="record.leval != null">
                leval = #{record.leval,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.projectCode != null">
                project_code = #{record.projectCode,jdbcType=VARCHAR},
            </if>
            <if test="record.projectName != null">
                project_name = #{record.projectName,jdbcType=VARCHAR},
            </if>
            <if test="record.projectManager != null">
                project_manager = #{record.projectManager,jdbcType=VARCHAR},
            </if>
            <if test="record.situation != null">
                situation = #{record.situation,jdbcType=VARCHAR},
            </if>
            <if test="record.performance != null">
                performance = #{record.performance,jdbcType=VARCHAR},
            </if>
            <if test="record.schedule != null">
                schedule = #{record.schedule,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.creator != null">
                creator = #{record.creator,jdbcType=VARCHAR},
            </if>
            <if test="record.modifier != null">
                Modifier = #{record.modifier,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deleteTime != null">
                delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.monthNum != null">
                month_num = #{record.monthNum,jdbcType=VARCHAR},
            </if>
            <if test="record.projectSchedule != null">
                project_schedule = #{record.projectSchedule,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.predictStarttime != null">
                predict_startTime = #{record.predictStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.pridectEndtime != null">
                pridect_endTime = #{record.pridectEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.currentProgress != null">
                current_progress = #{record.currentProgress,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update project_monthly
        set id = #{record.id,jdbcType=VARCHAR},
        project_id = #{record.projectId,jdbcType=VARCHAR},
        project_type = #{record.projectType,jdbcType=VARCHAR},
        leval = #{record.leval,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=VARCHAR},
        project_code = #{record.projectCode,jdbcType=VARCHAR},
        project_name = #{record.projectName,jdbcType=VARCHAR},
        project_manager = #{record.projectManager,jdbcType=VARCHAR},
        situation = #{record.situation,jdbcType=VARCHAR},
        performance = #{record.performance,jdbcType=VARCHAR},
        schedule = #{record.schedule,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        creator = #{record.creator,jdbcType=VARCHAR},
        Modifier = #{record.modifier,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
        month_num = #{record.monthNum,jdbcType=VARCHAR},
        project_schedule = #{record.projectSchedule,jdbcType=VARCHAR},
        content = #{record.content,jdbcType=VARCHAR},
        predict_startTime = #{record.predictStarttime,jdbcType=TIMESTAMP},
        pridect_endTime = #{record.pridectEndtime,jdbcType=TIMESTAMP},
        current_progress = #{record.currentProgress,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.ProjectMonthly">
        update project_monthly
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                project_type = #{projectType,jdbcType=VARCHAR},
            </if>
            <if test="leval != null">
                leval = #{leval,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="projectCode != null">
                project_code = #{projectCode,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectManager != null">
                project_manager = #{projectManager,jdbcType=VARCHAR},
            </if>
            <if test="situation != null">
                situation = #{situation,jdbcType=VARCHAR},
            </if>
            <if test="performance != null">
                performance = #{performance,jdbcType=VARCHAR},
            </if>
            <if test="schedule != null">
                schedule = #{schedule,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                Modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="monthNum != null">
                month_num = #{monthNum,jdbcType=VARCHAR},
            </if>
            <if test="projectSchedule != null">
                project_schedule = #{projectSchedule,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="predictStarttime != null">
                predict_startTime = #{predictStarttime,jdbcType=TIMESTAMP},
            </if>
            <if test="pridectEndtime != null">
                pridect_endTime = #{pridectEndtime,jdbcType=TIMESTAMP},
            </if>
            <if test="currentProgress != null">
                current_progress = #{currentProgress,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.ProjectMonthly">
    update project_monthly
    set project_id = #{projectId,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      leval = #{leval,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_manager = #{projectManager,jdbcType=VARCHAR},
      situation = #{situation,jdbcType=VARCHAR},
      performance = #{performance,jdbcType=VARCHAR},
      schedule = #{schedule,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      Modifier = #{modifier,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      month_num = #{monthNum,jdbcType=VARCHAR},
      project_schedule = #{projectSchedule,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      predict_startTime = #{predictStarttime,jdbcType=TIMESTAMP},
      pridect_endTime = #{pridectEndtime,jdbcType=TIMESTAMP},
      current_progress = #{currentProgress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="queryProjectMonthByProjectId" resultMap="BaseResultMap">
        select * from project_monthly
        where project_id = #{projectId,jdbcType=VARCHAR}
        order by create_time desc
    </select>

    <select id="selectByprojectIdAndSchedule" resultMap="BaseResultMap">
        select * from project_monthly
        where project_id = #{projectId,jdbcType=VARCHAR}
        and project_schedule=#{projectSchedule,jdbcType=VARCHAR}
        order by project_schedule
    </select>
</mapper>