<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.ProjectMembersMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.ProjectMembers" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="application_id" property="applicationId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="back_up2" property="backUp2" jdbcType="VARCHAR" />
    <result column="back_up3" property="backUp3" jdbcType="VARCHAR" />
    <result column="back_up4" property="backUp4" jdbcType="VARCHAR" />
    <result column="back_up5" property="backUp5" jdbcType="VARCHAR" />
    <result column="back_up6" property="backUp6" jdbcType="VARCHAR" />
    <result column="back_up7" property="backUp7" jdbcType="VARCHAR" />
    <result column="back_up8" property="backUp8" jdbcType="VARCHAR" />
    <result column="back_up9" property="backUp9" jdbcType="VARCHAR" />
    <result column="back_up10" property="backUp10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, application_id, name, unit, type, sort, creater, create_time, update_time, enable, 
    back_up2, back_up3, back_up4, back_up5, back_up6, back_up7, back_up8, back_up9, back_up10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.ProjectMembersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_members
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project_members
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_members
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.ProjectMembersExample" >
    delete from project_members
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.ProjectMembers" >
    insert into project_members (id, application_id, name, 
      unit, type, sort, creater, 
      create_time, update_time, enable, 
      back_up2, back_up3, back_up4, 
      back_up5, back_up6, back_up7, 
      back_up8, back_up9, back_up10
      )
    values (#{id,jdbcType=VARCHAR}, #{applicationId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{enable,jdbcType=VARCHAR}, 
      #{backUp2,jdbcType=VARCHAR}, #{backUp3,jdbcType=VARCHAR}, #{backUp4,jdbcType=VARCHAR}, 
      #{backUp5,jdbcType=VARCHAR}, #{backUp6,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, 
      #{backUp8,jdbcType=VARCHAR}, #{backUp9,jdbcType=VARCHAR}, #{backUp10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.ProjectMembers" >
    insert into project_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="backUp2 != null" >
        back_up2,
      </if>
      <if test="backUp3 != null" >
        back_up3,
      </if>
      <if test="backUp4 != null" >
        back_up4,
      </if>
      <if test="backUp5 != null" >
        back_up5,
      </if>
      <if test="backUp6 != null" >
        back_up6,
      </if>
      <if test="backUp7 != null" >
        back_up7,
      </if>
      <if test="backUp8 != null" >
        back_up8,
      </if>
      <if test="backUp9 != null" >
        back_up9,
      </if>
      <if test="backUp10 != null" >
        back_up10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null" >
        #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null" >
        #{backUp10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.ProjectMembersExample" resultType="java.lang.Integer" >
    select count(*) from project_members
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project_members
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationId != null" >
        application_id = #{record.applicationId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp2 != null" >
        back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp3 != null" >
        back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp4 != null" >
        back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp5 != null" >
        back_up5 = #{record.backUp5,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp6 != null" >
        back_up6 = #{record.backUp6,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp7 != null" >
        back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp8 != null" >
        back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp9 != null" >
        back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp10 != null" >
        back_up10 = #{record.backUp10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project_members
    set id = #{record.id,jdbcType=VARCHAR},
      application_id = #{record.applicationId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      enable = #{record.enable,jdbcType=VARCHAR},
      back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      back_up5 = #{record.backUp5,jdbcType=VARCHAR},
      back_up6 = #{record.backUp6,jdbcType=VARCHAR},
      back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      back_up10 = #{record.backUp10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.ProjectMembers" >
    update project_members
    <set >
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        back_up2 = #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        back_up3 = #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        back_up4 = #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
      <if test="backUp6 != null" >
        back_up6 = #{backUp6,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="backUp10 != null" >
        back_up10 = #{backUp10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.ProjectMembers" >
    update project_members
    set application_id = #{applicationId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=VARCHAR},
      back_up2 = #{backUp2,jdbcType=VARCHAR},
      back_up3 = #{backUp3,jdbcType=VARCHAR},
      back_up4 = #{backUp4,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR},
      back_up6 = #{backUp6,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      back_up10 = #{backUp10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>