<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.ProjectApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.ProjectApplication" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="investment_id" property="investmentId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="investor" property="investor" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="construction_mode" property="constructionMode" jdbcType="VARCHAR" />
    <result column="leval" property="leval" jdbcType="VARCHAR" />
    <result column="investment_amount" property="investmentAmount" jdbcType="DECIMAL" />
    <result column="declare_type" property="declareType" jdbcType="VARCHAR" />
    <result column="range1" property="range1" jdbcType="VARCHAR" />
    <result column="application_amount" property="applicationAmount" jdbcType="DECIMAL" />
    <result column="operating_dept" property="operatingDept" jdbcType="VARCHAR" />
    <result column="business_owner" property="businessOwner" jdbcType="VARCHAR" />
    <result column="business_phone" property="businessPhone" jdbcType="VARCHAR" />
    <result column="contractor" property="contractor" jdbcType="VARCHAR" />
    <result column="project_manager" property="projectManager" jdbcType="VARCHAR" />
    <result column="manager_phone" property="managerPhone" jdbcType="VARCHAR" />
    <result column="project_desc" property="projectDesc" jdbcType="VARCHAR" />
    <result column="kickoff_date" property="kickoffDate" jdbcType="DATE" />
    <result column="completion_date" property="completionDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="plan_num" property="planNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, investment_id, project_id, project_code, project_name, project_type, investor,
    organization, construction_mode, leval, investment_amount, declare_type, range1,
    application_amount, operating_dept, business_owner, business_phone, contractor, project_manager,
    manager_phone, project_desc, kickoff_date, completion_date, remark, creater, create_time,
    update_time, enable, file_url, status, is_delete, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.ProjectApplicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from project_application
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_application
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.ProjectApplicationExample" >
    delete from project_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.ProjectApplication" >
    insert into project_application (Id, investment_id, project_id,
      project_code, project_name, project_type,
      investor, organization, construction_mode,
      leval, investment_amount, declare_type,
      range1, application_amount, operating_dept,
      business_owner, business_phone, contractor,
      project_manager, manager_phone, project_desc,
      kickoff_date, completion_date, remark,
      creater, create_time, update_time,
      enable, file_url, status,
      is_delete, type)
    values (#{id,jdbcType=VARCHAR}, #{investmentId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
      #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR},
      #{investor,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, #{constructionMode,jdbcType=VARCHAR},
      #{leval,jdbcType=VARCHAR}, #{investmentAmount,jdbcType=DECIMAL}, #{declareType,jdbcType=VARCHAR},
      #{range1,jdbcType=VARCHAR}, #{applicationAmount,jdbcType=DECIMAL}, #{operatingDept,jdbcType=VARCHAR},
      #{businessOwner,jdbcType=VARCHAR}, #{businessPhone,jdbcType=VARCHAR}, #{contractor,jdbcType=VARCHAR},
      #{projectManager,jdbcType=VARCHAR}, #{managerPhone,jdbcType=VARCHAR}, #{projectDesc,jdbcType=VARCHAR},
      #{kickoffDate,jdbcType=DATE}, #{completionDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR},
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{enable,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{isDelete,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.ProjectApplication" >
    insert into project_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="investmentId != null" >
        investment_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="investor != null" >
        investor,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="constructionMode != null" >
        construction_mode,
      </if>
      <if test="leval != null" >
        leval,
      </if>
      <if test="investmentAmount != null" >
        investment_amount,
      </if>
      <if test="declareType != null" >
        declare_type,
      </if>
      <if test="range1 != null" >
        range1,
      </if>
      <if test="applicationAmount != null" >
        application_amount,
      </if>
      <if test="operatingDept != null" >
        operating_dept,
      </if>
      <if test="businessOwner != null" >
        business_owner,
      </if>
      <if test="businessPhone != null" >
        business_phone,
      </if>
      <if test="contractor != null" >
        contractor,
      </if>
      <if test="projectManager != null" >
        project_manager,
      </if>
      <if test="managerPhone != null" >
        manager_phone,
      </if>
      <if test="projectDesc != null" >
        project_desc,
      </if>
      <if test="kickoffDate != null" >
        kickoff_date,
      </if>
      <if test="completionDate != null" >
        completion_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="investmentId != null" >
        #{investmentId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="investor != null" >
        #{investor,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="constructionMode != null" >
        #{constructionMode,jdbcType=VARCHAR},
      </if>
      <if test="leval != null" >
        #{leval,jdbcType=VARCHAR},
      </if>
      <if test="investmentAmount != null" >
        #{investmentAmount,jdbcType=DECIMAL},
      </if>
      <if test="declareType != null" >
        #{declareType,jdbcType=VARCHAR},
      </if>
      <if test="range1 != null" >
        #{range1,jdbcType=VARCHAR},
      </if>
      <if test="applicationAmount != null" >
        #{applicationAmount,jdbcType=DECIMAL},
      </if>
      <if test="operatingDept != null" >
        #{operatingDept,jdbcType=VARCHAR},
      </if>
      <if test="businessOwner != null" >
        #{businessOwner,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null" >
        #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="contractor != null" >
        #{contractor,jdbcType=VARCHAR},
      </if>
      <if test="projectManager != null" >
        #{projectManager,jdbcType=VARCHAR},
      </if>
      <if test="managerPhone != null" >
        #{managerPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null" >
        #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="kickoffDate != null" >
        #{kickoffDate,jdbcType=DATE},
      </if>
      <if test="completionDate != null" >
        #{completionDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.ProjectApplicationExample" resultType="java.lang.Integer" >
    select count(*) from project_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project_application
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentId != null" >
        investment_id = #{record.investmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCode != null" >
        project_code = #{record.projectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectType != null" >
        project_type = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.investor != null" >
        investor = #{record.investor,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null" >
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionMode != null" >
        construction_mode = #{record.constructionMode,jdbcType=VARCHAR},
      </if>
      <if test="record.leval != null" >
        leval = #{record.leval,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentAmount != null" >
        investment_amount = #{record.investmentAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.declareType != null" >
        declare_type = #{record.declareType,jdbcType=VARCHAR},
      </if>
      <if test="record.range1 != null" >
        range1 = #{record.range1,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationAmount != null" >
        application_amount = #{record.applicationAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.operatingDept != null" >
        operating_dept = #{record.operatingDept,jdbcType=VARCHAR},
      </if>
      <if test="record.businessOwner != null" >
        business_owner = #{record.businessOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.businessPhone != null" >
        business_phone = #{record.businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contractor != null" >
        contractor = #{record.contractor,jdbcType=VARCHAR},
      </if>
      <if test="record.projectManager != null" >
        project_manager = #{record.projectManager,jdbcType=VARCHAR},
      </if>
      <if test="record.managerPhone != null" >
        manager_phone = #{record.managerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.projectDesc != null" >
        project_desc = #{record.projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.kickoffDate != null" >
        kickoff_date = #{record.kickoffDate,jdbcType=DATE},
      </if>
      <if test="record.completionDate != null" >
        completion_date = #{record.completionDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUrl != null" >
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project_application
    set Id = #{record.id,jdbcType=VARCHAR},
    investment_id = #{record.investmentId,jdbcType=VARCHAR},
    project_id = #{record.projectId,jdbcType=VARCHAR},
    project_code = #{record.projectCode,jdbcType=VARCHAR},
    project_name = #{record.projectName,jdbcType=VARCHAR},
    project_type = #{record.projectType,jdbcType=VARCHAR},
    investor = #{record.investor,jdbcType=VARCHAR},
    organization = #{record.organization,jdbcType=VARCHAR},
    construction_mode = #{record.constructionMode,jdbcType=VARCHAR},
    leval = #{record.leval,jdbcType=VARCHAR},
    investment_amount = #{record.investmentAmount,jdbcType=DECIMAL},
    declare_type = #{record.declareType,jdbcType=VARCHAR},
    range1 = #{record.range1,jdbcType=VARCHAR},
    application_amount = #{record.applicationAmount,jdbcType=DECIMAL},
    operating_dept = #{record.operatingDept,jdbcType=VARCHAR},
    business_owner = #{record.businessOwner,jdbcType=VARCHAR},
    business_phone = #{record.businessPhone,jdbcType=VARCHAR},
    contractor = #{record.contractor,jdbcType=VARCHAR},
    project_manager = #{record.projectManager,jdbcType=VARCHAR},
    manager_phone = #{record.managerPhone,jdbcType=VARCHAR},
    project_desc = #{record.projectDesc,jdbcType=VARCHAR},
    kickoff_date = #{record.kickoffDate,jdbcType=DATE},
    completion_date = #{record.completionDate,jdbcType=DATE},
    remark = #{record.remark,jdbcType=VARCHAR},
    creater = #{record.creater,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    enable = #{record.enable,jdbcType=VARCHAR},
    file_url = #{record.fileUrl,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=VARCHAR},
    is_delete = #{record.isDelete,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.ProjectApplication" >
    update project_application
    <set >
      <if test="investmentId != null" >
        investment_id = #{investmentId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="investor != null" >
        investor = #{investor,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="constructionMode != null" >
        construction_mode = #{constructionMode,jdbcType=VARCHAR},
      </if>
      <if test="leval != null" >
        leval = #{leval,jdbcType=VARCHAR},
      </if>
      <if test="investmentAmount != null" >
        investment_amount = #{investmentAmount,jdbcType=DECIMAL},
      </if>
      <if test="declareType != null" >
        declare_type = #{declareType,jdbcType=VARCHAR},
      </if>
      <if test="range1 != null" >
        range1 = #{range1,jdbcType=VARCHAR},
      </if>
      <if test="applicationAmount != null" >
        application_amount = #{applicationAmount,jdbcType=DECIMAL},
      </if>
      <if test="operatingDept != null" >
        operating_dept = #{operatingDept,jdbcType=VARCHAR},
      </if>
      <if test="businessOwner != null" >
        business_owner = #{businessOwner,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null" >
        business_phone = #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="contractor != null" >
        contractor = #{contractor,jdbcType=VARCHAR},
      </if>
      <if test="projectManager != null" >
        project_manager = #{projectManager,jdbcType=VARCHAR},
      </if>
      <if test="managerPhone != null" >
        manager_phone = #{managerPhone,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null" >
        project_desc = #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="kickoffDate != null" >
        kickoff_date = #{kickoffDate,jdbcType=DATE},
      </if>
      <if test="completionDate != null" >
        completion_date = #{completionDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.ProjectApplication" >
    update project_application
    set investment_id = #{investmentId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      investor = #{investor,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      construction_mode = #{constructionMode,jdbcType=VARCHAR},
      leval = #{leval,jdbcType=VARCHAR},
      investment_amount = #{investmentAmount,jdbcType=DECIMAL},
      declare_type = #{declareType,jdbcType=VARCHAR},
      range1 = #{range1,jdbcType=VARCHAR},
      application_amount = #{applicationAmount,jdbcType=DECIMAL},
      operating_dept = #{operatingDept,jdbcType=VARCHAR},
      business_owner = #{businessOwner,jdbcType=VARCHAR},
      business_phone = #{businessPhone,jdbcType=VARCHAR},
      contractor = #{contractor,jdbcType=VARCHAR},
      project_manager = #{projectManager,jdbcType=VARCHAR},
      manager_phone = #{managerPhone,jdbcType=VARCHAR},
      project_desc = #{projectDesc,jdbcType=VARCHAR},
      kickoff_date = #{kickoffDate,jdbcType=DATE},
      completion_date = #{completionDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <!--编辑项目信息-->
  <update id="updateProject" parameterType="com.portjs.base.entity.ProjectApplication" >
    update project_application
    set project_code = #{projectCode,jdbcType=VARCHAR},
    project_id = #{projectId,jdbcType=VARCHAR},
    project_name = #{projectName,jdbcType=VARCHAR},
    project_type = #{projectType,jdbcType=VARCHAR},
    leval = #{leval,jdbcType=VARCHAR},
    project_desc = #{projectDesc,jdbcType=VARCHAR},
    organization = #{organization,jdbcType=VARCHAR},
    range1 = #{range1,jdbcType=VARCHAR},
    kickoff_date = #{kickoffDate,jdbcType=TIMESTAMP},
    creater = #{creater,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    enable = #{enable,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap1" type="com.portjs.base.entity.ProjectApplication" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="aProjectCode" property="projectCode" jdbcType="VARCHAR" />
    <result column="aProjectId" property="projectId" jdbcType="VARCHAR" />
    <result column="aProjectName" property="projectName" jdbcType="VARCHAR" />
    <result column="aProjectType" property="projectType" jdbcType="VARCHAR" />
    <result column="leval" property="leval" jdbcType="VARCHAR" />
    <result column="aProjectDesc" property="projectDesc" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="range1" property="range1" jdbcType="VARCHAR" />
    <result column="aKickoffDate" property="kickoffDate" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="aCreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="aUpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="aenable" property="enable" jdbcType="VARCHAR" />
    <result column="astatus" property="status" jdbcType="VARCHAR" />
    <result column="isApprover" property="isApprover" jdbcType="VARCHAR" />
    <association property="workflowstep"  javaType="com.portjs.base.entity.TWorkflowstep">
      <id column="bId" property="id" jdbcType="VARCHAR" />
      <result column="relateddomain" property="relateddomain" jdbcType="VARCHAR" />
      <result column="bRelateddomainId" property="relateddomainId" jdbcType="VARCHAR" />
      <result column="bPrestepId" property="prestepId" jdbcType="VARCHAR" />
      <result column="bStepDesc" property="stepDesc" jdbcType="VARCHAR" />
      <result column="bActionuserId" property="actionuserId" jdbcType="VARCHAR" />
      <result column="bActionTime" property="actionTime" jdbcType="TIMESTAMP" />
      <result column="bActionResult" property="actionResult" jdbcType="INTEGER" />
      <result column="bFileUrl" property="fileUrl" jdbcType="VARCHAR" />
      <result column="bActionComment" property="actionComment" jdbcType="VARCHAR" />
      <result column="benable" property="enable" jdbcType="VARCHAR" />
      <result column="bstatus" property="status" jdbcType="VARCHAR" />
    </association>
  </resultMap>


 <!-- <select id="queryProjectCount" resultType="int">
  select count(1)
  from project_application  a
  <where>
    is_delete='0'
    <if test="projectCode !=null and projectCode!=''">
      and  a.project_code like "%" #{projectCode} "%"
    </if>
    <if test="projectName !=null and projectName!=''">
      and  a.project_name like "%" #{projectName} "%"
    </if>
    <if test="projectType !=null and projectType!=''">
      and  a.project_type like "%" #{projectType} "%"
    </if>
    <if test="organization !=null and organization!=''">
      and  a.organization like "%" #{organization} "%"
    </if>
    <if test="constructionMode !=null and constructionMode!=''">
      and  a.construction_mode like "%" #{constructionMode} "%"
    </if>
    <if test="investor !=null and investor!=''">
      and  a.investor like "%" #{investor} "%"
    </if>
  </where>
  </select>-->
  <select id="queryProjectCount" resultType="int">
    select SUM(tmpcount)
    from (
    select count(t1.id)   AS tmpcount
    from project_application  t1
    where    is_delete='0'  and status!='0'
    AND Id IN (SELECT DISTINCT relateddomain_id FROM t_workflowstep WHERE 1=1 AND actionuser_id= #{ownerId,jdbcType=VARCHAR})
      <if test="projectCode !=null and projectCode!=''">
        and  project_code like "%" #{projectCode} "%"
      </if>
      <if test="projectName !=null and projectName!=''">
        and  project_name like "%" #{projectName} "%"
      </if>
      <if test="projectType !=null and projectType!=''">
        and  project_type like "%" #{projectType} "%"
      </if>
      <if test="organization !=null and organization!=''">
        and  organization like "%" #{organization} "%"
      </if>
      <if test="leval !=null and leval!=''">
        and  leval like "%" #{leval} "%"
      </if>
      <if test="projectManager !=null and projectManager!=''">
        and  project_manager like "%" #{projectManager} "%"
      </if>
    UNION ALL
    select count(t2.id) as tmpcount
    from project_application  t2
    where
    is_delete='0' and status='0' and creater=#{ownerId}
    <if test="projectCode !=null and projectCode!=''">
      and  project_code like "%" #{projectCode} "%"
    </if>
    <if test="projectName !=null and projectName!=''">
      and project_name like "%" #{projectName} "%"
    </if>
    <if test="projectType !=null and projectType!=''">
      and  project_type like "%" #{projectType} "%"
    </if>
    <if test="organization !=null and organization!=''">
      and  organization like "%" #{organization} "%"
    </if>
    <if test="leval !=null and leval!=''">
      and  leval like "%" #{leval} "%"
    </if>
    <if test="projectManager !=null and projectManager!=''">
      and  project_manager like "%" #{projectManager} "%"
    </if> ) A
  </select>


  <resultMap id="BaseResultMap2" type="com.portjs.base.entity.ProjectApplication" >
  <id column="Id" property="id" jdbcType="VARCHAR" />
  <result column="aProjectCode" property="projectCode" jdbcType="VARCHAR" />
    <result column="aProjectId" property="projectId" jdbcType="VARCHAR" />
  <result column="aProjectName" property="projectName" jdbcType="VARCHAR" />
  <result column="aProjectType" property="projectType" jdbcType="VARCHAR" />
  <result column="leval" property="leval" jdbcType="VARCHAR" />
  <result column="aProjectDesc" property="projectDesc" jdbcType="VARCHAR" />
  <result column="organization" property="organization" jdbcType="VARCHAR" />
  <result column="range1" property="range1" jdbcType="VARCHAR" />
  <result column="aKickoffDate" property="kickoffDate" jdbcType="TIMESTAMP" />
  <result column="creater" property="creater" jdbcType="VARCHAR" />
  <result column="aCreateTime" property="createTime" jdbcType="TIMESTAMP" />
  <result column="aUpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
  <result column="aenable" property="enable" jdbcType="VARCHAR" />
  <result column="astatus" property="status" jdbcType="VARCHAR" />

  </resultMap>
  <!--查询项目信息-->
  <select id="queryProject" resultMap="BaseResultMap">
    select  *
    from project_application
     where
      is_delete='0' and status!='0'
    AND Id IN (SELECT DISTINCT relateddomain_id FROM t_workflowstep WHERE 1=1 AND actionuser_id= #{ownerId,jdbcType=VARCHAR})
      <if test="projectCode !=null and projectCode!=''">
       and  project_code like "%" #{projectCode} "%"
      </if>
      <if test="projectName !=null and projectName!=''">
        and  project_name like "%" #{projectName} "%"
      </if>
      <if test="projectType !=null and projectType!=''">
        and  project_type like "%" #{projectType} "%"
      </if>
      <if test="organization !=null and organization!=''">
        and  organization = #{organization}
      </if>
      <if test="leval !=null and leval!=''">
        and  leval like "%" #{leval} "%"
      </if>
      <if test="projectManager !=null and projectManager!=''">
        and  project_manager = #{projectManager}
      </if>
    UNION ALL
    select  *
    from project_application
     where
      is_delete='0' and status='0' and creater=#{ownerId}
    <if test="projectCode !=null and projectCode!=''">
        and  project_code like "%" #{projectCode} "%"
      </if>
      <if test="projectName !=null and projectName!=''">
        and project_name like "%" #{projectName} "%"
      </if>
      <if test="projectType !=null and projectType!=''">
        and  project_type like "%" #{projectType} "%"
      </if>
      <if test="organization !=null and organization!=''">
        and  organization like "%" #{organization} "%"
      </if>
      <if test="leval !=null and leval!=''">
        and  leval like "%" #{leval} "%"
      </if>
      <if test="projectManager !=null and projectManager!=''">
        and  project_manager like "%" #{projectManager} "%"
      </if>
    order by   create_time desc

  </select>

  <!--order by   status="1"||"2"||"3"||"4"||"5"||"6", status="8"  desc,status="0" desc , create_time desc-->
  <!--order by create_time desc
  limit #{rowNum},#{pageCount}
  status="0" DESC ,status="8" DESC ,status,-->
  <select id="queryProjectBase" resultMap="BaseResultMap">
  select   a.*,b.plan_num
  from project_application  a  left JOIN   investment_plan b on  a.investment_id=b.id
    where a.id=#{id}
  </select>

  <update id="deleteProject">
    update project_application set is_delete='1'
    where id=#{id}
  </update>

  <select id="selectapplicationByYear" resultMap="BaseResultMap">
    select * from project_application where is_delete="0" and DATE_FORMAT(create_time,'%Y')=#{niandu}  and project_code is not null
  </select>


  <update id="abolishProject">
    update project_application set status='9'
    where id=#{id}
  </update>
</mapper>