<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.PurchaseReviewMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.PurchaseReview" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="review_num" property="reviewNum" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="purchase_dept" property="purchaseDept" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="submit_time" property="submitTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, request_id, review_num, project_id, purchase_dept, method, supplier, amount,
    submit_time, remark, file_url, status, creater, create_time, update_time, delete_time,
    is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.PurchaseReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase_review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from purchase_review
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from purchase_review
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.PurchaseReviewExample" >
    delete from purchase_review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.PurchaseReview" >
    insert into purchase_review (Id, request_id, review_num, 
      project_id, purchase_dept, method, 
      supplier, amount, submit_time, 
      remark, file_url, status, 
      creater, create_time, update_time, 
      delete_time, is_delete)
    values (#{id,jdbcType=VARCHAR}, #{requestId,jdbcType=VARCHAR}, #{reviewNum,jdbcType=VARCHAR},
      #{projectId,jdbcType=VARCHAR}, #{purchaseDept,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{supplier,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{submitTime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.PurchaseReview" >
    insert into purchase_review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="reviewNum != null" >
        review_num,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="purchaseDept != null" >
        purchase_dept,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="reviewNum != null" >
        #{reviewNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDept != null" >
        #{purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.PurchaseReviewExample" resultType="java.lang.Integer" >
    select count(*) from purchase_review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase_review
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null" >
        request_id = #{record.requestId,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewNum != null" >
        review_num = #{record.reviewNum,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseDept != null" >
        purchase_dept = #{record.purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier != null" >
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUrl != null" >
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase_review
    set Id = #{record.id,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=VARCHAR},
      review_num = #{record.reviewNum,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      purchase_dept = #{record.purchaseDept,jdbcType=VARCHAR},
      method = #{record.method,jdbcType=VARCHAR},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      submit_time = #{record.submitTime,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      file_url = #{record.fileUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.PurchaseReview" >
    update purchase_review
    <set >
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="reviewNum != null" >
        review_num = #{reviewNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDept != null" >
        purchase_dept = #{purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.PurchaseReview" >
    update purchase_review
    set request_id = #{requestId,jdbcType=VARCHAR},
      review_num = #{reviewNum,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      purchase_dept = #{purchaseDept,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      submit_time = #{submitTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>

  <!--查询总数-->
  <select id="selectByMethodCount" resultType="int">
    select COUNT(*) from purchase_review r,project p
    where r.project_id=p.id
    <if test="projectName!=null">
      and p.project_name like "%"#{projectName}"%"
    </if>
    <if test="projectCode!=null">
      and p.project_code like "%"#{projectCode}"%"
    </if>
    <if test="method!=null">
      and r.method=#{method}
    </if>
  </select>
  <!--查询每页数据-->
  <select id="selectByPage" resultType="com.portjs.base.vo.ContractVo">
    select r.id as id, p.id as projectId, p.project_code as projectCode,p.project_name as projectName,r.purchase_dept as purchaseDept,
    r.supplier as supplier,r.amount as amount,r.review_num as tenderNum
    from purchase_review r,project p
    where r.project_id=p.id
    <if test="projectName!=null">
      and p.project_name like "%"#{projectName,jdbcType=VARCHAR}"%"
    </if>
    <if test="projectCode!=null">
      and p.project_code like "%"#{projectCode,jdbcType=VARCHAR}"%"
    </if>
    <if test="method!=null">
      and r.method=#{method,jdbcType=VARCHAR}
    </if>
    ORDER BY r.create_time
    LIMIT #{rowNum,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  <resultMap id="BaseResultMap2" type="com.portjs.base.entity.PurchaseReview" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="review_num" property="reviewNum" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="purchase_dept" property="purchaseDept" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="submit_time" property="submitTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryPucharseReview" resultMap="BaseResultMap2" parameterType="java.lang.String" >
    select
    a.Id, a.request_id, a.review_num, a.project_id, a.purchase_dept, a.method, a.supplier, a.amount,
    a.submit_time, a.remark, a.file_url, a.status, a.creater, a.create_time, a.update_time, a.delete_time,
    a.is_delete,b.project_code,b.project_name
    from purchase_review a left JOIN   project b on a.project_id=b.id
    <if test="projectCode !=null and projectCode!=''">
      and b.project_code like "%" #{projectCode} "%"
    </if>
    <if test="projectName !=null and projectName!=''">
      and b.project_name like "%" #{projectName} "%"
    </if>
    <if test="method !=null and method!=''">
      and a.method like "%" #{method} "%"
    </if>
    <if test="supplier !=null and supplier!=''">
      and a.supplier like "%" #{supplier} "%"
    </if>
    <if test="submitTime !=null and submitTime!=''">
      and a.submit_time like "%" #{submitTime} "%"
    </if>
    <if test="status !=null and status!=''">
      and a.status like "%" #{status} "%"
    </if>
  </select>
  <resultMap id="BaseResultMap3" type="com.portjs.base.entity.PurchaseReview" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="review_num" property="reviewNum" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="purchase_dept" property="purchaseDept" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="submit_time" property="submitTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="request_num" property="requestNum" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryPucharseReviewBase" resultMap="BaseResultMap3" parameterType="java.lang.String" >
  select
  a.Id, a.request_id, a.review_num, a.project_id, a.purchase_dept, a.method, a.supplier, a.amount,
  a.submit_time, a.remark, a.file_url, a.status, a.creater, a.create_time, a.update_time, a.delete_time,
  a.is_delete,b.request_num,c.project_code
  from purchase_review a    left JOIN   purchase_request b on a.request_id=b.Id
  left JOIN  project c  on a.project_id=c.id
  where a.id=#{id}
</select>
  <update id="updateProjectReviewStatus" parameterType="String">
  update purchase_review set status=#{nowBackUp3}
  where id=#{id}
  </update>
  <update id="updateProjectReviewStatus2" parameterType="PurchaseReview">
    update purchase_review set status=#{status}, update_time=#{updateTime}
    where id=#{id}
  </update>


  <!--假删除-->
  <update id="deleteProjectReview" parameterType="String">
    update purchase_review set is_delete='1'
    where id=#{id}
  </update>
</mapper>