<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TDepartment" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="viceDepartmentLeaderId" property="viceDepartmentLeaderId" jdbcType="VARCHAR" />
    <result column="viceDepartmentLeaderName" property="viceDepartmentLeaderName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="niandu" property="niandu" jdbcType="TIMESTAMP" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="leaf_flag" property="leafFlag" jdbcType="INTEGER" />
    <result column="leader_id" property="leaderId" jdbcType="VARCHAR" />
    <result column="vice_leader_id" property="viceLeaderId" jdbcType="VARCHAR" />
    <result column="pingyin" property="pingyin" jdbcType="VARCHAR" />
    <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
    <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
    <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
    <result column="reserved4" property="reserved4" jdbcType="VARCHAR" />
    <result column="reserved5" property="reserved5" jdbcType="VARCHAR" />
    <result column="leaderName" property="leaderName" jdbcType="VARCHAR" />
    <result column="parentName" property="parentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, PARENT_ID, CREATETIME, niandu, SORT, leaf_flag, leader_id, vice_leader_id, 
    pingyin, reserved1, reserved2, reserved3, reserved4, reserved5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TDepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_department
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_department
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TDepartmentExample" >
    delete from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TDepartment" >
    insert into t_department (ID, NAME, PARENT_ID, 
      CREATETIME, niandu, SORT, 
      leaf_flag, leader_id, vice_leader_id, 
      pingyin, reserved1, reserved2, 
      reserved3, reserved4, reserved5
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{niandu,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, 
      #{leafFlag,jdbcType=INTEGER}, #{leaderId,jdbcType=VARCHAR}, #{viceLeaderId,jdbcType=VARCHAR}, 
      #{pingyin,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, 
      #{reserved3,jdbcType=VARCHAR}, #{reserved4,jdbcType=VARCHAR}, #{reserved5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TDepartment" >
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="niandu != null" >
        niandu,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="leafFlag != null" >
        leaf_flag,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="viceLeaderId != null" >
        vice_leader_id,
      </if>
      <if test="pingyin != null" >
        pingyin,
      </if>
      <if test="reserved1 != null" >
        reserved1,
      </if>
      <if test="reserved2 != null" >
        reserved2,
      </if>
      <if test="reserved3 != null" >
        reserved3,
      </if>
      <if test="reserved4 != null" >
        reserved4,
      </if>
      <if test="reserved5 != null" >
        reserved5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="niandu != null" >
        #{niandu,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="leafFlag != null" >
        #{leafFlag,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="viceLeaderId != null" >
        #{viceLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null" >
        #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null" >
        #{reserved5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TDepartmentExample" resultType="java.lang.Integer" >
    select count(*) from t_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_department
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.niandu != null" >
        niandu = #{record.niandu,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.leafFlag != null" >
        leaf_flag = #{record.leafFlag,jdbcType=INTEGER},
      </if>
      <if test="record.leaderId != null" >
        leader_id = #{record.leaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.viceLeaderId != null" >
        vice_leader_id = #{record.viceLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.pingyin != null" >
        pingyin = #{record.pingyin,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved1 != null" >
        reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved2 != null" >
        reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved3 != null" >
        reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved4 != null" >
        reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved5 != null" >
        reserved5 = #{record.reserved5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_department
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      niandu = #{record.niandu,jdbcType=TIMESTAMP},
      SORT = #{record.sort,jdbcType=INTEGER},
      leaf_flag = #{record.leafFlag,jdbcType=INTEGER},
      leader_id = #{record.leaderId,jdbcType=VARCHAR},
      vice_leader_id = #{record.viceLeaderId,jdbcType=VARCHAR},
      pingyin = #{record.pingyin,jdbcType=VARCHAR},
      reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      reserved5 = #{record.reserved5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TDepartment" >
    update t_department
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="niandu != null" >
        niandu = #{niandu,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="leafFlag != null" >
        leaf_flag = #{leafFlag,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null" >
        leader_id = #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="viceLeaderId != null" >
        vice_leader_id = #{viceLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        pingyin = #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null" >
        reserved4 = #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null" >
        reserved5 = #{reserved5,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TDepartment" >
    update t_department
    set NAME = #{name,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      niandu = #{niandu,jdbcType=TIMESTAMP},
      SORT = #{sort,jdbcType=INTEGER},
      leaf_flag = #{leafFlag,jdbcType=INTEGER},
      leader_id = #{leaderId,jdbcType=VARCHAR},
      vice_leader_id = #{viceLeaderId,jdbcType=VARCHAR},
      pingyin = #{pingyin,jdbcType=VARCHAR},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      reserved4 = #{reserved4,jdbcType=VARCHAR},
      reserved5 = #{reserved5,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectSortMax" resultType="int">
   SELECT COUNT(d.`ID`) FROM t_department d
  </select>

  <select id="selectAllDepartment" resultMap="BaseResultMap">
    SELECT * FROM t_department d
      <where>
        d.PARENT_ID is not null
        and d.parent_id !=""
      </where>
       ORDER BY d.`SORT`
  </select>


  <select id="selectAllDepartmentTree" resultMap="BaseResultMap">
     SELECT d.*,u.`ID` AS uid ,u.`name_cn` AS uname ,dd.`NAME` AS parentName ,u.`name_cn` AS leaderName,ur.`ID` AS viceDepartmentLeaderId,ur.`name_cn` AS viceDepartmentName
  FROM t_department d
     LEFT JOIN t_department dd ON  d.`PARENT_ID` = dd.`ID`
     LEFT JOIN t_user u ON d.`leader_id` = u.`ID`
     LEFT JOIN t_user ur ON ur.`ID` = d.`reserved1`
     WHERE FIND_IN_SET(d.`id`,
     getDepartmentChild((SELECT d.`id` FROM t_department d WHERE d.`name`="部门树")))
     ORDER BY d.`sort`;
  </select>


  <update id="SortDepartment" >
    UPDATE t_department d SET d.`SORT`=#{sort} WHERE d.`ID`=#{id}
  </update>



</mapper>