<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TenderApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TenderApplication" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
    <result column="tender_num" property="tenderNum" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="open_date" property="openDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="tender_url" property="tenderUrl" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="bid_date" property="bidDate" jdbcType="DATE" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="bid_url" property="bidUrl" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="review" property="review" jdbcType="VARCHAR" />
    <result column="back_up1" property="backUp1" jdbcType="VARCHAR" />
    <result column="back_up2" property="backUp2" jdbcType="VARCHAR" />
    <result column="back_up3" property="backUp3" jdbcType="VARCHAR" />
    <result column="back_up4" property="backUp4" jdbcType="VARCHAR" />
    <result column="back_up5" property="backUp5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, request_id, tender_num, project_id, method, organization, dept, open_date, remark, 
    status, tender_url, supplier, bid_date, amount, bid_url, creater, create_time, update_time, 
    delete_time, review, back_up1, back_up2, back_up3, back_up4, back_up5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TenderApplicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tender_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tender_application
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tender_application
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TenderApplicationExample" >
    delete from tender_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TenderApplication" >
    insert into tender_application (Id, request_id, tender_num, 
      project_id, method, organization, 
      dept, open_date, remark, 
      status, tender_url, supplier, 
      bid_date, amount, bid_url, 
      creater, create_time, update_time, 
      delete_time, review, back_up1, 
      back_up2, back_up3, back_up4, 
      back_up5)
    values (#{id,jdbcType=VARCHAR}, #{requestId,jdbcType=INTEGER}, #{tenderNum,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{openDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{tenderUrl,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, 
      #{bidDate,jdbcType=DATE}, #{amount,jdbcType=DECIMAL}, #{bidUrl,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{review,jdbcType=VARCHAR}, #{backUp1,jdbcType=VARCHAR}, 
      #{backUp2,jdbcType=VARCHAR}, #{backUp3,jdbcType=VARCHAR}, #{backUp4,jdbcType=VARCHAR}, 
      #{backUp5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TenderApplication" >
    insert into tender_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="tenderNum != null" >
        tender_num,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="openDate != null" >
        open_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tenderUrl != null" >
        tender_url,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="bidDate != null" >
        bid_date,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="bidUrl != null" >
        bid_url,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="review != null" >
        review,
      </if>
      <if test="backUp1 != null" >
        back_up1,
      </if>
      <if test="backUp2 != null" >
        back_up2,
      </if>
      <if test="backUp3 != null" >
        back_up3,
      </if>
      <if test="backUp4 != null" >
        back_up4,
      </if>
      <if test="backUp5 != null" >
        back_up5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="tenderNum != null" >
        #{tenderNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenderUrl != null" >
        #{tenderUrl,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="bidDate != null" >
        #{bidDate,jdbcType=DATE},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="bidUrl != null" >
        #{bidUrl,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="review != null" >
        #{review,jdbcType=VARCHAR},
      </if>
      <if test="backUp1 != null" >
        #{backUp1,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        #{backUp5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TenderApplicationExample" resultType="java.lang.Integer" >
    select count(*) from tender_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tender_application
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null" >
        request_id = #{record.requestId,jdbcType=INTEGER},
      </if>
      <if test="record.tenderNum != null" >
        tender_num = #{record.tenderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null" >
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.dept != null" >
        dept = #{record.dept,jdbcType=VARCHAR},
      </if>
      <if test="record.openDate != null" >
        open_date = #{record.openDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderUrl != null" >
        tender_url = #{record.tenderUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier != null" >
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.bidDate != null" >
        bid_date = #{record.bidDate,jdbcType=DATE},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.bidUrl != null" >
        bid_url = #{record.bidUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteTime != null" >
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.review != null" >
        review = #{record.review,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp1 != null" >
        back_up1 = #{record.backUp1,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp2 != null" >
        back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp3 != null" >
        back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp4 != null" >
        back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp5 != null" >
        back_up5 = #{record.backUp5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tender_application
    set Id = #{record.id,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=INTEGER},
      tender_num = #{record.tenderNum,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      method = #{record.method,jdbcType=VARCHAR},
      organization = #{record.organization,jdbcType=VARCHAR},
      dept = #{record.dept,jdbcType=VARCHAR},
      open_date = #{record.openDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      tender_url = #{record.tenderUrl,jdbcType=VARCHAR},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      bid_date = #{record.bidDate,jdbcType=DATE},
      amount = #{record.amount,jdbcType=DECIMAL},
      bid_url = #{record.bidUrl,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      review = #{record.review,jdbcType=VARCHAR},
      back_up1 = #{record.backUp1,jdbcType=VARCHAR},
      back_up2 = #{record.backUp2,jdbcType=VARCHAR},
      back_up3 = #{record.backUp3,jdbcType=VARCHAR},
      back_up4 = #{record.backUp4,jdbcType=VARCHAR},
      back_up5 = #{record.backUp5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TenderApplication" >
    update tender_application
    <set >
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=INTEGER},
      </if>
      <if test="tenderNum != null" >
        tender_num = #{tenderNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        open_date = #{openDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tenderUrl != null" >
        tender_url = #{tenderUrl,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="bidDate != null" >
        bid_date = #{bidDate,jdbcType=DATE},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="bidUrl != null" >
        bid_url = #{bidUrl,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="review != null" >
        review = #{review,jdbcType=VARCHAR},
      </if>
      <if test="backUp1 != null" >
        back_up1 = #{backUp1,jdbcType=VARCHAR},
      </if>
      <if test="backUp2 != null" >
        back_up2 = #{backUp2,jdbcType=VARCHAR},
      </if>
      <if test="backUp3 != null" >
        back_up3 = #{backUp3,jdbcType=VARCHAR},
      </if>
      <if test="backUp4 != null" >
        back_up4 = #{backUp4,jdbcType=VARCHAR},
      </if>
      <if test="backUp5 != null" >
        back_up5 = #{backUp5,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TenderApplication" >
    update tender_application
    set request_id = #{requestId,jdbcType=INTEGER},
      tender_num = #{tenderNum,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      open_date = #{openDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tender_url = #{tenderUrl,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      bid_date = #{bidDate,jdbcType=DATE},
      amount = #{amount,jdbcType=DECIMAL},
      bid_url = #{bidUrl,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      review = #{review,jdbcType=VARCHAR},
      back_up1 = #{backUp1,jdbcType=VARCHAR},
      back_up2 = #{backUp2,jdbcType=VARCHAR},
      back_up3 = #{backUp3,jdbcType=VARCHAR},
      back_up4 = #{backUp4,jdbcType=VARCHAR},
      back_up5 = #{backUp5,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <!--查询总数-->
  <select id="selectByMethodCount"  resultType="int">
    select COUNT(*) from tender_application a,project p
    where a.project_id=p.id
    <if test="projectName!=null">
    and p.project_name like "%"#{projectName,jdbcType=VARCHAR}"%"
    </if>
    <if test="projectCode!=null">
    and p.project_code like "%"#{projectCode,jdbcType=VARCHAR}"%"
    </if>
    <if test="method!=null">
    and a.method=#{method,jdbcType=VARCHAR}
    </if>
  </select>
  <!--查询每页数据-->
  <select id="selectByPage" resultType="com.portjs.base.vo.ContractVo">
    select p.project_code as projectCode,p.project_name as projectName,a.dept as purchaseDept,
    a.supplier as supplier,a.amount as amount,a.tender_num as tenderNum
    from tender_application a,project p
    where a.project_id=p.id
    <if test="projectName!=null">
      and p.project_name like "%"#{projectName,jdbcType=VARCHAR}"%"
    </if>
    <if test="projectCode!=null">
      and p.project_code like "%"#{projectCode,jdbcType=VARCHAR}"%"
    </if>
    <if test="method!=null">
    and a.method=#{method,jdbcType=VARCHAR}
    </if>
    ORDER BY a.create_time
    LIMIT #{rowNum,jdbcType=INTEGER},#{pageCount,jdbcType=INTEGER}
  </select>
  <!--招标中的采购清单查询-->
  <select id="selectRequests" parameterType="com.portjs.base.entity.TenderApplicationVo" resultType="com.portjs.base.entity.TenderApplicationVo">
    select
    p.project_code as projectCode,
    p.project_name as projectName,
    r.purchase_dept as dept,
    r.apply_date as applyDate,
    r.amount as amount,
    r.id AS requestId,
    r.request_num AS tenderNum,
    r.project_id AS projectId,
    r.method AS method
    from purchase_request r,project p where  r.status="10" AND r.project_id=p.id
    <if test="projectName!=null">
      and p.project_name  like concat("%", #{projectName},"%")
    </if>
    <if test="projectCode!=null">
      and p.project_code  like concat("%", #{projectCode},"%")
    </if>
    <if test="method!=null">
      and r.method=#{method,jdbcType=VARCHAR}
    </if>
    ORDER BY r.apply_date desc
    <if test="params.pageNo!=null and params.pageSize!=null">
      limit #{params.pageNo},#{params.pageSize}
    </if>
  </select>
  <!--招标中的采购清单总数查询-->
  <select id="selectRequestsCount"  resultType="int">
    select count(1) from purchase_request r,project p
    where  r.status="10" AND r.project_id=p.id
    <if test="projectName!=null">
      and p.project_name  like concat("%", #{projectName},"%")
    </if>
    <if test="projectCode!=null">
      and p.project_code  like concat("%", #{projectCode},"%")
    </if>
    <if test="method!=null">
      and r.method=#{method,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>