<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="login_account" property="loginAccount" jdbcType="VARCHAR" />
    <result column="login_PASSWORD" property="loginPassword" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_ID" property="departmentId" jdbcType="VARCHAR" />
    <result column="departmentName" property="departmentName" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_upd_passwd_time" property="lastUpdPasswdTime" jdbcType="TIMESTAMP" />
    <result column="password_modify_cycle" property="passwordModifyCycle" jdbcType="INTEGER" />
    <result column="history_password" property="historyPassword" jdbcType="VARCHAR" />
    <result column="passwd_wrong_count" property="passwdWrongCount" jdbcType="INTEGER" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="duty_lev" property="dutyLev" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="pingyin" property="pingyin" jdbcType="VARCHAR" />
    <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
    <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
    <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
    <result column="reserved4" property="reserved4" jdbcType="VARCHAR" />
    <result column="reserved5" property="reserved5" jdbcType="VARCHAR" />
    <result column="reserved6" property="reserved6" jdbcType="VARCHAR" />
    <result column="reserved7" property="reserved7" jdbcType="VARCHAR" />
    <result column="reserved8" property="reserved8" jdbcType="VARCHAR" />
    <result column="reserved9" property="reserved9" jdbcType="VARCHAR" />
    <result column="reserved10" property="reserved10" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, login_account, login_PASSWORD, login_name, DEPARTMENT_ID, CREATETIME, SORT, STATUS, 
    last_login_time, last_upd_passwd_time, password_modify_cycle, history_password, passwd_wrong_count, 
    birth_date, sex, duty, duty_lev, phonenum, telephone, pingyin, reserved1, reserved2, 
    reserved3, reserved4, reserved5, reserved6, reserved7, reserved8, reserved9, reserved10,name_cn
  </sql>
  <select id="selectById" resultType="String">
    select name_cn from t_user  where id=#{id}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TUserExample" >
    delete from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TUser" >
    insert into t_user (ID, login_account, login_PASSWORD, 
      login_name, DEPARTMENT_ID, CREATETIME, 
      SORT, STATUS, last_login_time, 
      last_upd_passwd_time, password_modify_cycle, 
      history_password, passwd_wrong_count, birth_date, 
      sex, duty, duty_lev, 
      phonenum, telephone, pingyin, 
      reserved1, reserved2, reserved3, 
      reserved4, reserved5, reserved6, 
      reserved7, reserved8, reserved9, 
      reserved10,name_cn)
    values (#{id,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{lastUpdPasswdTime,jdbcType=TIMESTAMP}, #{passwordModifyCycle,jdbcType=INTEGER}, 
      #{historyPassword,jdbcType=VARCHAR}, #{passwdWrongCount,jdbcType=INTEGER}, #{birthDate,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=INTEGER}, #{duty,jdbcType=VARCHAR}, #{dutyLev,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{pingyin,jdbcType=VARCHAR}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, 
      #{reserved4,jdbcType=VARCHAR}, #{reserved5,jdbcType=VARCHAR}, #{reserved6,jdbcType=VARCHAR}, 
      #{reserved7,jdbcType=VARCHAR}, #{reserved8,jdbcType=VARCHAR}, #{reserved9,jdbcType=VARCHAR}, 
      #{reserved10,jdbcType=VARCHAR},#{nameCn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TUser" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loginAccount != null" >
        login_account,
      </if>
      <if test="loginPassword != null" >
        login_PASSWORD,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="lastUpdPasswdTime != null" >
        last_upd_passwd_time,
      </if>
      <if test="passwordModifyCycle != null" >
        password_modify_cycle,
      </if>
      <if test="historyPassword != null" >
        history_password,
      </if>
      <if test="passwdWrongCount != null" >
        passwd_wrong_count,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="dutyLev != null" >
        duty_lev,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="pingyin != null" >
        pingyin,
      </if>
      <if test="reserved1 != null" >
        reserved1,
      </if>
      <if test="reserved2 != null" >
        reserved2,
      </if>
      <if test="reserved3 != null" >
        reserved3,
      </if>
      <if test="reserved4 != null" >
        reserved4,
      </if>
      <if test="reserved5 != null" >
        reserved5,
      </if>
      <if test="reserved6 != null" >
        reserved6,
      </if>
      <if test="reserved7 != null" >
        reserved7,
      </if>
      <if test="reserved8 != null" >
        reserved8,
      </if>
      <if test="reserved9 != null" >
        reserved9,
      </if>
      <if test="reserved10 != null" >
        reserved10,
      </if>
      <if test="nameCn != null" >
        name_cn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginAccount != null" >
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdPasswdTime != null" >
        #{lastUpdPasswdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordModifyCycle != null" >
        #{passwordModifyCycle,jdbcType=INTEGER},
      </if>
      <if test="historyPassword != null" >
        #{historyPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwdWrongCount != null" >
        #{passwdWrongCount,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="dutyLev != null" >
        #{dutyLev,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null" >
        #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null" >
        #{reserved5,jdbcType=VARCHAR},
      </if>
      <if test="reserved6 != null" >
        #{reserved6,jdbcType=VARCHAR},
      </if>
      <if test="reserved7 != null" >
        #{reserved7,jdbcType=VARCHAR},
      </if>
      <if test="reserved8 != null" >
        #{reserved8,jdbcType=VARCHAR},
      </if>
      <if test="reserved9 != null" >
        #{reserved9,jdbcType=VARCHAR},
      </if>
      <if test="reserved10 != null" >
        #{reserved10,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        #{nameCn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TUserExample" resultType="java.lang.Integer" >
    select count(*) from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.loginAccount != null" >
        login_account = #{record.loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPassword != null" >
        login_PASSWORD = #{record.loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginTime != null" >
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdPasswdTime != null" >
        last_upd_passwd_time = #{record.lastUpdPasswdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.passwordModifyCycle != null" >
        password_modify_cycle = #{record.passwordModifyCycle,jdbcType=INTEGER},
      </if>
      <if test="record.historyPassword != null" >
        history_password = #{record.historyPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.passwdWrongCount != null" >
        passwd_wrong_count = #{record.passwdWrongCount,jdbcType=INTEGER},
      </if>
      <if test="record.birthDate != null" >
        birth_date = #{record.birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.duty != null" >
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyLev != null" >
        duty_lev = #{record.dutyLev,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null" >
        phonenum = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.pingyin != null" >
        pingyin = #{record.pingyin,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved1 != null" >
        reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved2 != null" >
        reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved3 != null" >
        reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved4 != null" >
        reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved5 != null" >
        reserved5 = #{record.reserved5,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved6 != null" >
        reserved6 = #{record.reserved6,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved7 != null" >
        reserved7 = #{record.reserved7,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved8 != null" >
        reserved8 = #{record.reserved8,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved9 != null" >
        reserved9 = #{record.reserved9,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved10 != null" >
        reserved10 = #{record.reserved10,jdbcType=VARCHAR},
      </if>
      <if test="record.nameCn != null" >
        name_cn = #{record.nameCn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user
    set ID = #{record.id,jdbcType=VARCHAR},
      login_account = #{record.loginAccount,jdbcType=VARCHAR},
      login_PASSWORD = #{record.loginPassword,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      SORT = #{record.sort,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      last_upd_passwd_time = #{record.lastUpdPasswdTime,jdbcType=TIMESTAMP},
      password_modify_cycle = #{record.passwordModifyCycle,jdbcType=INTEGER},
      history_password = #{record.historyPassword,jdbcType=VARCHAR},
      passwd_wrong_count = #{record.passwdWrongCount,jdbcType=INTEGER},
      birth_date = #{record.birthDate,jdbcType=TIMESTAMP},
      sex = #{record.sex,jdbcType=INTEGER},
      duty = #{record.duty,jdbcType=VARCHAR},
      duty_lev = #{record.dutyLev,jdbcType=VARCHAR},
      phonenum = #{record.phonenum,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      pingyin = #{record.pingyin,jdbcType=VARCHAR},
      reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      reserved5 = #{record.reserved5,jdbcType=VARCHAR},
      reserved6 = #{record.reserved6,jdbcType=VARCHAR},
      reserved7 = #{record.reserved7,jdbcType=VARCHAR},
      reserved8 = #{record.reserved8,jdbcType=VARCHAR},
      reserved9 = #{record.reserved9,jdbcType=VARCHAR},
      reserved10 = #{record.reserved10,jdbcType=VARCHAR},
      name_cn = #{record.nameCn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TUser" >
    update t_user
    <set >
      <if test="loginAccount != null" >
        login_account = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        login_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdPasswdTime != null" >
        last_upd_passwd_time = #{lastUpdPasswdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordModifyCycle != null" >
        password_modify_cycle = #{passwordModifyCycle,jdbcType=INTEGER},
      </if>
      <if test="historyPassword != null" >
        history_password = #{historyPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwdWrongCount != null" >
        passwd_wrong_count = #{passwdWrongCount,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="dutyLev != null" >
        duty_lev = #{dutyLev,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="pingyin != null" >
        pingyin = #{pingyin,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null" >
        reserved4 = #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null" >
        reserved5 = #{reserved5,jdbcType=VARCHAR},
      </if>
      <if test="reserved6 != null" >
        reserved6 = #{reserved6,jdbcType=VARCHAR},
      </if>
      <if test="reserved7 != null" >
        reserved7 = #{reserved7,jdbcType=VARCHAR},
      </if>
      <if test="reserved8 != null" >
        reserved8 = #{reserved8,jdbcType=VARCHAR},
      </if>
      <if test="reserved9 != null" >
        reserved9 = #{reserved9,jdbcType=VARCHAR},
      </if>
      <if test="reserved10 != null" >
        reserved10 = #{reserved10,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        name_cn = #{nameCn,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TUser" >
    update t_user
    set login_account = #{loginAccount,jdbcType=VARCHAR},
      login_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      SORT = #{sort,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_upd_passwd_time = #{lastUpdPasswdTime,jdbcType=TIMESTAMP},
      password_modify_cycle = #{passwordModifyCycle,jdbcType=INTEGER},
      history_password = #{historyPassword,jdbcType=VARCHAR},
      passwd_wrong_count = #{passwdWrongCount,jdbcType=INTEGER},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=INTEGER},
      duty = #{duty,jdbcType=VARCHAR},
      duty_lev = #{dutyLev,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      pingyin = #{pingyin,jdbcType=VARCHAR},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      reserved4 = #{reserved4,jdbcType=VARCHAR},
      reserved5 = #{reserved5,jdbcType=VARCHAR},
      reserved6 = #{reserved6,jdbcType=VARCHAR},
      reserved7 = #{reserved7,jdbcType=VARCHAR},
      reserved8 = #{reserved8,jdbcType=VARCHAR},
      reserved9 = #{reserved9,jdbcType=VARCHAR},
      reserved10 = #{reserved10,jdbcType=VARCHAR},
       name_cn = #{nameCn,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>





  <resultMap id="loginUserByAccount" extends="BaseResultMap" type="com.portjs.base.entity.TUser">
    <collection property="roles" ofType="com.portjs.base.entity.TRole">
      <id column="rid" property="id" jdbcType="VARCHAR" />
      <result column="role_name" property="roleName" jdbcType="VARCHAR" />
      <result column="role_desc" property="roleDesc" jdbcType="VARCHAR" />
      <result column="rstatus" property="status" jdbcType="INTEGER" />
      <result column="create_time" property="createTime" jdbcType="DATE" />
      <result column="update_time" property="updateTime" jdbcType="DATE" />
      <result column="sort" property="sort" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <select id="loginUserByAccount" resultMap="loginUserByAccount">
    SELECT u.*,r.*,u.`ID` AS uid, r.`id` AS rid ,u.`STATUS` AS ustatus, r.`status` AS rstatus  ,d.`NAME` AS departmentName FROM t_user u
    LEFT JOIN t_user_role ur ON ur.`user_id` = u.`ID`
    INNER JOIN t_role r ON ur.`role_id` = r.`id`
    INNER JOIN t_department d ON d.`ID` = u.`DEPARTMENT_ID`
    AND u.`login_account` = #{account}
  </select>

  <select id="selectMaxSort" resultType="int">
    SELECT MAX(u.`SORT`) FROM t_user u
  </select>



  <select id="selectUserByLoginNameOrDepartmentId" resultMap="BaseResultMap">
    SELECT * FROM  t_user u WHERE
    (u.`login_name` LIKE CONCAT('%',#{loginName},'%') OR u.`pingyin` LIKE CONCAT('%',#{loginName},'%'))
    <if test="departmentId != null and departmentId !=''">
      AND u.`DEPARTMENT_ID` = #{departmentId}
    </if>
     ORDER BY u.`SORT` LIMIT #{pageNo},#{pageSize}
  </select>


  <select id="selectUserCountByLoginNameOrDepartmentId" resultType="int">
    SELECT count(u.id) FROM  t_user u WHERE
    (u.`login_name` LIKE CONCAT('%',#{loginName},'%') OR u.`pingyin` LIKE CONCAT('%',#{loginName},'%'))
    <if test="departmentId != null and departmentId !=''">
      AND u.`DEPARTMENT_ID` = #{departmentId}
    </if>
  </select>

  <resultMap id="UserRoleDO" type="com.portjs.base.vo.UserRoleDO">
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="login_account" property="loginAccount" jdbcType="VARCHAR" />
    <result column="login_PASSWORD" property="loginPassword" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_ID" property="departmentId" jdbcType="VARCHAR" />
    <result column="departmentName" property="departmentName" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_upd_passwd_time" property="lastUpdPasswdTime" jdbcType="TIMESTAMP" />
    <result column="password_modify_cycle" property="passwordModifyCycle" jdbcType="INTEGER" />
    <result column="history_password" property="historyPassword" jdbcType="VARCHAR" />
    <result column="passwd_wrong_count" property="passwdWrongCount" jdbcType="INTEGER" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="duty_lev" property="dutyLev" jdbcType="VARCHAR" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="pingyin" property="pingyin" jdbcType="VARCHAR" />
    <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
    <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
    <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
    <result column="reserved4" property="reserved4" jdbcType="VARCHAR" />
    <result column="reserved5" property="reserved5" jdbcType="VARCHAR" />
    <result column="reserved6" property="reserved6" jdbcType="VARCHAR" />
    <result column="reserved7" property="reserved7" jdbcType="VARCHAR" />
    <result column="reserved8" property="reserved8" jdbcType="VARCHAR" />
    <result column="reserved9" property="reserved9" jdbcType="VARCHAR" />
    <result column="reserved10" property="reserved10" jdbcType="VARCHAR" />
    <result column="leaderId" property="leaderId" jdbcType="VARCHAR" />

    <collection property="roles" ofType="com.portjs.base.entity.TRole">
      <result column="rid" property="id" jdbcType="VARCHAR"/>
      <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>


  <select id="selectUserAndRoleAndDepartmentByUid" resultMap="UserRoleDO">
    SELECT u.*,d.`leader_id` AS leaderId ,d.`ID` AS DEPARTMENT_ID ,d.`NAME` AS departmentName,r.`id` AS rid , r.`role_name` AS roleName
    FROM  t_user u LEFT JOIN t_user_role ur ON u.`ID` = ur.`user_id`
   LEFT JOIN t_role r ON r.`id` = ur.`role_id`
   LEFT JOIN t_department d ON u.`DEPARTMENT_ID` = d.`ID`
   WHERE u.`ID` = #{uid}
  </select>

  <update id="updateSortByUid" >
    UPDATE t_user u SET u.`SORT` = #{sort} WHERE u.`ID` = #{uid}
  </update>



</mapper>