<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TWorkflowstepMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TWorkflowstep" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="relateddomain" property="relateddomain" jdbcType="VARCHAR" />
    <result column="relateddomain_id" property="relateddomainId" jdbcType="VARCHAR" />
    <result column="prestep_id" property="prestepId" jdbcType="VARCHAR" />
    <result column="step_desc" property="stepDesc" jdbcType="VARCHAR" />
    <result column="actionuser_id" property="actionuserId" jdbcType="VARCHAR" />
    <result column="action_time" property="actionTime" jdbcType="TIMESTAMP" />
    <result column="action_result" property="actionResult" jdbcType="INTEGER" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="action_comment" property="actionComment" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="backup_3" property="backup3" jdbcType="VARCHAR" />
    <result column="back_up7" property="backUp7" jdbcType="VARCHAR" />
    <result column="back_up8" property="backUp8" jdbcType="VARCHAR" />
    <result column="back_up9" property="backUp9" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.portjs.base.entity.TWorkflowstep" extends="BaseResultMap" >
    <result column="file_description" property="fileDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, relateddomain, relateddomain_id, prestep_id, step_desc, actionuser_id, action_time, 
    action_result, file_url, action_comment, enable, status, backup_3, back_up7, back_up8, 
    back_up9
  </sql>
  <sql id="Blob_Column_List" >
    file_description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.portjs.base.entity.TWorkflowstepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_workflowstep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TWorkflowstepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_workflowstep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_workflowstep
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_workflowstep
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TWorkflowstepExample" >
    delete from t_workflowstep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TWorkflowstep" >
    insert into t_workflowstep (id, relateddomain, relateddomain_id, 
      prestep_id, step_desc, actionuser_id, 
      action_time, action_result, file_url, 
      action_comment, enable, status, 
      backup_3, back_up7, back_up8, 
      back_up9, file_description)
    values (#{id,jdbcType=VARCHAR}, #{relateddomain,jdbcType=VARCHAR}, #{relateddomainId,jdbcType=VARCHAR}, 
      #{prestepId,jdbcType=VARCHAR}, #{stepDesc,jdbcType=VARCHAR}, #{actionuserId,jdbcType=VARCHAR}, 
      #{actionTime,jdbcType=TIMESTAMP}, #{actionResult,jdbcType=INTEGER}, #{fileUrl,jdbcType=VARCHAR}, 
      #{actionComment,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{backup3,jdbcType=VARCHAR}, #{backUp7,jdbcType=VARCHAR}, #{backUp8,jdbcType=VARCHAR}, 
      #{backUp9,jdbcType=VARCHAR}, #{fileDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TWorkflowstep" >
    insert into t_workflowstep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relateddomain != null" >
        relateddomain,
      </if>
      <if test="relateddomainId != null" >
        relateddomain_id,
      </if>
      <if test="prestepId != null" >
        prestep_id,
      </if>
      <if test="stepDesc != null" >
        step_desc,
      </if>
      <if test="actionuserId != null" >
        actionuser_id,
      </if>
      <if test="actionTime != null" >
        action_time,
      </if>
      <if test="actionResult != null" >
        action_result,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="actionComment != null" >
        action_comment,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="backup3 != null" >
        backup_3,
      </if>
      <if test="backUp7 != null" >
        back_up7,
      </if>
      <if test="backUp8 != null" >
        back_up8,
      </if>
      <if test="backUp9 != null" >
        back_up9,
      </if>
      <if test="fileDescription != null" >
        file_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="relateddomain != null" >
        #{relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="relateddomainId != null" >
        #{relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="prestepId != null" >
        #{prestepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDesc != null" >
        #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="actionuserId != null" >
        #{actionuserId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionResult != null" >
        #{actionResult,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="actionComment != null" >
        #{actionComment,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null" >
        #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="fileDescription != null" >
        #{fileDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TWorkflowstepExample" resultType="java.lang.Integer" >
    select count(*) from t_workflowstep
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_workflowstep
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.relateddomain != null" >
        relateddomain = #{record.relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="record.relateddomainId != null" >
        relateddomain_id = #{record.relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="record.prestepId != null" >
        prestep_id = #{record.prestepId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDesc != null" >
        step_desc = #{record.stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.actionuserId != null" >
        actionuser_id = #{record.actionuserId,jdbcType=VARCHAR},
      </if>
      <if test="record.actionTime != null" >
        action_time = #{record.actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actionResult != null" >
        action_result = #{record.actionResult,jdbcType=INTEGER},
      </if>
      <if test="record.fileUrl != null" >
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.actionComment != null" >
        action_comment = #{record.actionComment,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.backup3 != null" >
        backup_3 = #{record.backup3,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp7 != null" >
        back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp8 != null" >
        back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      </if>
      <if test="record.backUp9 != null" >
        back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      </if>
      <if test="record.fileDescription != null" >
        file_description = #{record.fileDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_workflowstep
    set id = #{record.id,jdbcType=VARCHAR},
      relateddomain = #{record.relateddomain,jdbcType=VARCHAR},
      relateddomain_id = #{record.relateddomainId,jdbcType=VARCHAR},
      prestep_id = #{record.prestepId,jdbcType=VARCHAR},
      step_desc = #{record.stepDesc,jdbcType=VARCHAR},
      actionuser_id = #{record.actionuserId,jdbcType=VARCHAR},
      action_time = #{record.actionTime,jdbcType=TIMESTAMP},
      action_result = #{record.actionResult,jdbcType=INTEGER},
      file_url = #{record.fileUrl,jdbcType=VARCHAR},
      action_comment = #{record.actionComment,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      backup_3 = #{record.backup3,jdbcType=VARCHAR},
      back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      back_up9 = #{record.backUp9,jdbcType=VARCHAR},
      file_description = #{record.fileDescription,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_workflowstep
    set id = #{record.id,jdbcType=VARCHAR},
      relateddomain = #{record.relateddomain,jdbcType=VARCHAR},
      relateddomain_id = #{record.relateddomainId,jdbcType=VARCHAR},
      prestep_id = #{record.prestepId,jdbcType=VARCHAR},
      step_desc = #{record.stepDesc,jdbcType=VARCHAR},
      actionuser_id = #{record.actionuserId,jdbcType=VARCHAR},
      action_time = #{record.actionTime,jdbcType=TIMESTAMP},
      action_result = #{record.actionResult,jdbcType=INTEGER},
      file_url = #{record.fileUrl,jdbcType=VARCHAR},
      action_comment = #{record.actionComment,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      backup_3 = #{record.backup3,jdbcType=VARCHAR},
      back_up7 = #{record.backUp7,jdbcType=VARCHAR},
      back_up8 = #{record.backUp8,jdbcType=VARCHAR},
      back_up9 = #{record.backUp9,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TWorkflowstep" >
    update t_workflowstep
    <set >
      <if test="relateddomain != null" >
        relateddomain = #{relateddomain,jdbcType=VARCHAR},
      </if>
      <if test="relateddomainId != null" >
        relateddomain_id = #{relateddomainId,jdbcType=VARCHAR},
      </if>
      <if test="prestepId != null" >
        prestep_id = #{prestepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDesc != null" >
        step_desc = #{stepDesc,jdbcType=VARCHAR},
      </if>
      <if test="actionuserId != null" >
        actionuser_id = #{actionuserId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        action_time = #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actionResult != null" >
        action_result = #{actionResult,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="actionComment != null" >
        action_comment = #{actionComment,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null" >
        backup_3 = #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backUp7 != null" >
        back_up7 = #{backUp7,jdbcType=VARCHAR},
      </if>
      <if test="backUp8 != null" >
        back_up8 = #{backUp8,jdbcType=VARCHAR},
      </if>
      <if test="backUp9 != null" >
        back_up9 = #{backUp9,jdbcType=VARCHAR},
      </if>
      <if test="fileDescription != null" >
        file_description = #{fileDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.portjs.base.entity.TWorkflowstep" >
    update t_workflowstep
    set relateddomain = #{relateddomain,jdbcType=VARCHAR},
      relateddomain_id = #{relateddomainId,jdbcType=VARCHAR},
      prestep_id = #{prestepId,jdbcType=VARCHAR},
      step_desc = #{stepDesc,jdbcType=VARCHAR},
      actionuser_id = #{actionuserId,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=TIMESTAMP},
      action_result = #{actionResult,jdbcType=INTEGER},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      action_comment = #{actionComment,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      backup_3 = #{backup3,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR},
      file_description = #{fileDescription,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TWorkflowstep" >
    update t_workflowstep
    set relateddomain = #{relateddomain,jdbcType=VARCHAR},
      relateddomain_id = #{relateddomainId,jdbcType=VARCHAR},
      prestep_id = #{prestepId,jdbcType=VARCHAR},
      step_desc = #{stepDesc,jdbcType=VARCHAR},
      actionuser_id = #{actionuserId,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=TIMESTAMP},
      action_result = #{actionResult,jdbcType=INTEGER},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      action_comment = #{actionComment,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      backup_3 = #{backup3,jdbcType=VARCHAR},
      back_up7 = #{backUp7,jdbcType=VARCHAR},
      back_up8 = #{backUp8,jdbcType=VARCHAR},
      back_up9 = #{backUp9,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="isApproveingId" parameterType="String" resultType="String">
    select actionuser_id from t_workflowstep
     where relateddomain_id=#{id} and status='0'
  </select>

  <select id="queryProjectRecords" resultType="TWorkflowstep" parameterType="java.lang.String" >
    select a.id, a.relateddomain, a.relateddomain_id as relateddomainId, a.prestep_id as prestepId, a.step_desc as stepDesc, a.actionuser_id as actionuserId , a.action_time as action_time,
    a.action_result as actionResult , a.file_url as fileUrl, a.action_comment as actionComment, a.enable, a.status as status,b.status as bstatus
    from t_workflowstep a left join project_application b
    on a.relateddomain_id=b.id
    where relateddomain_id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>