<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TXietongMrApplyMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TXietongMrApply" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP"  javaType="java.util.Date" />
    <result column="next_approver" property="nextApprover" jdbcType="VARCHAR" />
    <result column="next_approver_id" property="nextApproverId" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="next_record_ids" property="nextRecordIds" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="apply_dep_id" property="applyDepId" jdbcType="VARCHAR" />
    <result column="apply_dep_name" property="applyDepName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="mr_res_id" property="mrResId" jdbcType="VARCHAR" />
    <result column="begintime" property="begintime" jdbcType="VARCHAR" />
    <result column="meeting_name" property="meetingName" jdbcType="VARCHAR" />
    <result column="meeting_id" property="meetingId" jdbcType="VARCHAR" />
    <result column="time_cell" property="time_cell" jdbcType="VARCHAR" />
    <result column="mr_record_id" property="mrRecordId" jdbcType="VARCHAR" />
    <result column="meeting_leader" property="meetingLeader" jdbcType="VARCHAR" />
    <result column="meeting_personnel" property="meetingPersonnel" jdbcType="VARCHAR" />
    <result column="seat_card" property="seatCard" jdbcType="INTEGER" />
    <result column="tea_water" property="teaWater" jdbcType="INTEGER" />
    <result column="projector" property="projector" jdbcType="INTEGER" />
    <result column="microphone" property="microphone" jdbcType="INTEGER" />
    <result column="file_path" property="filePath" jdbcType="INTEGER" />
    <result column="attendance" property="attendance" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, STATUS, isdelete, createtime, next_approver, next_approver_id, endtime, next_record_ids, 
    apply_id, apply_name, apply_dep_id, apply_dep_name, content, mr_res_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TXietongMrApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_xietong_mr_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_xietong_mr_apply
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_xietong_mr_apply
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TXietongMrApplyExample" >
    delete from t_xietong_mr_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TXietongMrApply" >
    insert into t_xietong_mr_apply (ID, STATUS, isdelete, 
      createtime, next_approver, next_approver_id, 
      endtime, next_record_ids, apply_id, 
      apply_name, apply_dep_id, apply_dep_name, 
      content, mr_res_id,meeting_leader,meeting_personnel,seat_card,tea_water,projector,microphone,file_path)
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      now(), #{nextApprover,jdbcType=VARCHAR}, #{nextApproverId,jdbcType=VARCHAR},
      #{endtime,jdbcType=TIMESTAMP}, #{nextRecordIds,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{applyName,jdbcType=VARCHAR}, #{applyDepId,jdbcType=VARCHAR}, #{applyDepName,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{mrResId,jdbcType=VARCHAR},#{meetingLeader,jdbcType=VARCHAR},#{meetingPersonnel,jdbcType=VARCHAR}
      ,#{seatCard,jdbcType=INTEGER},#{teaWater,jdbcType=INTEGER},#{projector,jdbcType=INTEGER},#{microphone,jdbcType=INTEGER},#{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TXietongMrApply" >
    insert into t_xietong_mr_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
        createtime,
      <if test="nextApprover != null" >
        next_approver,
      </if>
      <if test="nextApproverId != null" >
        next_approver_id,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="nextRecordIds != null" >
        next_record_ids,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="applyDepId != null" >
        apply_dep_id,
      </if>
      <if test="applyDepName != null" >
        apply_dep_name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="mrResId != null" >
        mr_res_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      now(),
      <if test="nextApprover != null" >
        #{nextApprover,jdbcType=VARCHAR},
      </if>
      <if test="nextApproverId != null" >
        #{nextApproverId,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextRecordIds != null" >
        #{nextRecordIds,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyDepId != null" >
        #{applyDepId,jdbcType=VARCHAR},
      </if>
      <if test="applyDepName != null" >
        #{applyDepName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="mrResId != null" >
        #{mrResId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TXietongMrApplyExample" resultType="java.lang.Integer" >
    select count(*) from t_xietong_mr_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_xietong_mr_apply
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nextApprover != null" >
        next_approver = #{record.nextApprover,jdbcType=VARCHAR},
      </if>
      <if test="record.nextApproverId != null" >
        next_approver_id = #{record.nextApproverId,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nextRecordIds != null" >
        next_record_ids = #{record.nextRecordIds,jdbcType=VARCHAR},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyName != null" >
        apply_name = #{record.applyName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepId != null" >
        apply_dep_id = #{record.applyDepId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepName != null" >
        apply_dep_name = #{record.applyDepName,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.mrResId != null" >
        mr_res_id = #{record.mrResId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_xietong_mr_apply
    set ID = #{record.id,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      next_approver = #{record.nextApprover,jdbcType=VARCHAR},
      next_approver_id = #{record.nextApproverId,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=TIMESTAMP},
      next_record_ids = #{record.nextRecordIds,jdbcType=VARCHAR},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      apply_name = #{record.applyName,jdbcType=VARCHAR},
      apply_dep_id = #{record.applyDepId,jdbcType=VARCHAR},
      apply_dep_name = #{record.applyDepName,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      mr_res_id = #{record.mrResId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TXietongMrApply" >
    update t_xietong_mr_apply
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextApprover != null" >
        next_approver = #{nextApprover,jdbcType=VARCHAR},
      </if>
      <if test="nextApproverId != null" >
        next_approver_id = #{nextApproverId,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextRecordIds != null" >
        next_record_ids = #{nextRecordIds,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyDepId != null" >
        apply_dep_id = #{applyDepId,jdbcType=VARCHAR},
      </if>
      <if test="applyDepName != null" >
        apply_dep_name = #{applyDepName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="mrResId != null" >
        mr_res_id = #{mrResId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TXietongMrApply">
    update t_xietong_mr_apply
    set STATUS = #{status,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      next_approver = #{nextApprover,jdbcType=VARCHAR},
      next_approver_id = #{nextApproverId,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      next_record_ids = #{nextRecordIds,jdbcType=VARCHAR},
      apply_id = #{applyId,jdbcType=VARCHAR},
      apply_name = #{applyName,jdbcType=VARCHAR},
      apply_dep_id = #{applyDepId,jdbcType=VARCHAR},
      apply_dep_name = #{applyDepName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      mr_res_id = #{mrResId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="count" resultType="int">
    select count(*) from t_xietong_mr_apply_record r,t_xietong_mr_apply a,t_xietong_mr_reservation m,t_xietong_meetingroom g
		where r.isdelete=1
		and a.isdelete=1
		and m.isdelete=1
		and g.isdelete=1
		and a.id=r.apply_id
		and a.mr_res_id = m.id
		and m.mr_id=g.id
		<if test="ownerId!=null and ownerId!=''">
          and r.owner_id=#{ownerId}
        </if>
        <if test="applyId!=null and applyId!=''">
          and a.apply_id=#{applyId}
        </if>
        <if test="applyDepId!=null and applyDepId!=''">
		  and a.apply_dep_id=#{applyDepId}
        </if>
  </select>
  <select id="selectByPage" resultType="TXietongMrApply">
    select r.id,a.apply_dep_name as applyDepName,a.apply_name as applyName,a.content,
    g.room_name,m.begintime,m.endtime as mendtime,r.status as rstatus
    from t_xietong_mr_apply_record r,t_xietong_mr_apply a,t_xietong_mr_reservation m,t_xietong_meetingroom g
		where r.isdelete=1
		and a.isdelete=1
		and m.isdelete=1
		and g.isdelete=1
		and a.id=r.apply_id
		and a.mr_res_id = m.id
		and m.mr_id=g.id
        <if test="ownerId!=null and ownerId!=''">
          and r.owner_id=#{ownerId}
        </if>
        <if test="applyId!=null and applyId!=''">
          and a.apply_id=#{applyId}
        </if>
        <if test="applyDepId!=null and applyDepId!=''">
          and a.apply_dep_id=#{applyDepId}
        </if>
  </select>
<!--  -->
<select id="selectConferenceRoomByMsg" resultMap="BaseResultMap">
select * from t_xietong_mr_apply where 1=1
<if test="roomName!=null and roomName!=''">
 and meeting_name like #{roomName}
</if>
<if test="beginTime!=null and beginTime!=''">
begintime>=#{beginTime}
</if>
<if test="endTime!=null and endTime!=''">
endtime&lt;=#{endTime}
</if>
</select>
<!--  -->
<insert id="insertConferenceRoom" parameterType="com.portjs.base.entity.TXietongMrApply">
insert into t_xietong_mr_apply (ID, STATUS, isdelete, 
      createtime, next_approver, next_approver_id, 
      endtime, next_record_ids, apply_id, 
      apply_name, apply_dep_id, apply_dep_name, 
      content, mr_res_id,begintime,meeting_name,meeting_id,time_cell,meeting_leader,meeting_personnel,seat_card,tea_water,projector,microphone,file_path,attendance)
    values (#{id,jdbcType=VARCHAR}, 1, 1, 
      now(), #{nextApprover,jdbcType=VARCHAR}, #{nextApproverId,jdbcType=VARCHAR},
      #{endtime,jdbcType=TIMESTAMP}, #{nextRecordIds,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{applyName,jdbcType=VARCHAR}, #{applyDepId,jdbcType=VARCHAR}, #{applyDepName,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{mrResId,jdbcType=VARCHAR},#{begintime,jdbcType=TIMESTAMP},#{meetingName,jdbcType=VARCHAR},#{meetingId,jdbcType=VARCHAR},#{time_cell,jdbcType=VARCHAR}
      ,#{meetingLeader,jdbcType=VARCHAR},#{meetingPersonnel,jdbcType=VARCHAR}
      ,#{seatCard,jdbcType=INTEGER},#{teaWater,jdbcType=INTEGER},#{projector,jdbcType=INTEGER},#{microphone,jdbcType=INTEGER},#{filePath,jdbcType=VARCHAR},#{attendance,jdbcType=VARCHAR})
</insert>
<select id="selectMrApplyMapperByMeetingId" resultMap="BaseResultMap">
select * from t_xietong_mr_apply where meeting_id=#{meeting_id} and isdelete!=0 and DATE_FORMAT(begintime,'%Y-%m-%d') like '%${date}%' and DATE_FORMAT(endtime,'%Y-%m-%d') like '%${date}%'
</select>
<!--查询会议室审批条数-->
<select id="selectConferenceRoomCount" resultType="int">
select count(DISTINCT a.id)from t_xietong_mr_apply a,t_xietong_mr_apply_record r,t_xietong_dictionary d where   a.isdelete=1 
and a.id=r.apply_id and r.owner_id =#{owner_id} and d.TYPE_CODE='37'
<if test="apply_dep_id!=null and apply_dep_id!=''">
 and a.apply_dep_id=#{apply_dep_id}
</if>
<if test="apply_id!=null and apply_id!=''">
 and a.apply_id =#{apply_id}
</if>
</select>
<!--  -->
<select id="selectConferenceRoomByStatusIsOne" resultMap="BaseResultMap">
select DISTINCT t1.* from(select a.*,r.id as mr_record_id from t_xietong_mr_apply a,t_xietong_mr_apply_record r,t_xietong_dictionary d where  a.isdelete=1 
and a.id=r.apply_id and r.owner_id =#{owner_id} and d.TYPE_CODE='37'
<if test="apply_dep_id!=null and apply_dep_id!=''">
 and a.apply_dep_id=#{apply_dep_id}
</if>
<if test="apply_id!=null and apply_id!=''">
 and a.apply_id =#{apply_id}
</if>
 order by a.status,a.begintime)as t1
 limit #{rowNum},#{pageCount}
</select>
<!--会议室预定详情-->
<select id="selectMrApplyByApplyId" resultMap="BaseResultMap">
select * from t_xietong_mr_apply where isdelete!=0 and apply_id=#{apply_id} order by createtime desc
</select>
<!--修改会议室状态-->
<update id="updateMrApplyStatus" parameterType="com.portjs.base.entity.TXietongMrApply">
 update t_xietong_mr_apply
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextApprover != null" >
        next_approver = #{nextApprover,jdbcType=VARCHAR},
      </if>
      <if test="nextApproverId != null" >
        next_approver_id = #{nextApproverId,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextRecordIds != null" >
        next_record_ids = #{nextRecordIds,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyDepId != null" >
        apply_dep_id = #{applyDepId,jdbcType=VARCHAR},
      </if>
      <if test="applyDepName != null" >
        apply_dep_name = #{applyDepName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="mrResId != null" >
        mr_res_id = #{mrResId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
</update>
<!--根据id获取会议室使用情况-->
<select id="selectMrApplyById" resultMap="BaseResultMap">
select * from t_xietong_mr_apply where id =#{id} and isdelete!=0
</select>
</mapper>