<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TXietongAgendaProcessMapper" >
    <resultMap id="BaseResultMap" type="com.portjs.base.entity.TXietongAgendaProcess" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="creater_id" property="createrId" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="agenda_id" property="agendaId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, isdelete, status, creater_id, createtime, agenda_id
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TXietongAgendaProcessExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_xietong_agenda_process
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_xietong_agenda_process
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_xietong_agenda_process
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.portjs.base.entity.TXietongAgendaProcessExample" >
        delete from t_xietong_agenda_process
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.portjs.base.entity.TXietongAgendaProcess" >
    insert into t_xietong_agenda_process (id, isdelete, status,
      creater_id, createtime, agenda_id
      )
    values (#{id,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{createrId,jdbcType=VARCHAR}, now(), #{agendaId,jdbcType=VARCHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.portjs.base.entity.TXietongAgendaProcess" >
        insert into t_xietong_agenda_process
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="isdelete != null" >
                isdelete,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createrId != null" >
                creater_id,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="agendaId != null" >
                agenda_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null" >
                #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createrId != null" >
                #{createrId,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="agendaId != null" >
                #{agendaId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.portjs.base.entity.TXietongAgendaProcessExample" resultType="java.lang.Integer" >
        select count(*) from t_xietong_agenda_process
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update t_xietong_agenda_process
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.isdelete != null" >
                isdelete = #{record.isdelete,jdbcType=INTEGER},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.createrId != null" >
                creater_id = #{record.createrId,jdbcType=VARCHAR},
            </if>
            <if test="record.createtime != null" >
                createtime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.agendaId != null" >
                agenda_id = #{record.agendaId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update t_xietong_agenda_process
        set id = #{record.id,jdbcType=VARCHAR},
        isdelete = #{record.isdelete,jdbcType=INTEGER},
        status = #{record.status,jdbcType=INTEGER},
        creater_id = #{record.createrId,jdbcType=VARCHAR},
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
        agenda_id = #{record.agendaId,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TXietongAgendaProcess" >
        update t_xietong_agenda_process
        <set >
            <if test="isdelete != null" >
                isdelete = #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createrId != null" >
                creater_id = #{createrId,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="agendaId != null" >
                agenda_id = #{agendaId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TXietongAgendaProcess" >
    update t_xietong_agenda_process
    set isdelete = #{isdelete,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      agenda_id = #{agendaId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--新增审核流程表-->
    <insert id="insertProcess" parameterType="com.portjs.base.entity.TXietongAgendaProcess">
        insert into t_xietong_agenda_process (id, isdelete, status,creater_id,createtime)
        values (#{id,jdbcType=VARCHAR},#{isdelete,jdbcType=DECIMAL},#{status,jdbcType=DECIMAL},
        #{createrId,jdbcType=VARCHAR},now())
    </insert>

    <!--更新审核流程表-->
    <update id="updateProcess">
        update t_xietong_agenda_process
        <set>
            status =#{status}
        </set>
        <where>
            id=#{agenda_process_id}
        </where>
    </update>
</mapper>