<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portjs.base.dao.TXietongDocModelMapper" >
  <resultMap id="BaseResultMap" type="com.portjs.base.entity.TXietongDocModel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="doc_name" property="docName" jdbcType="VARCHAR" />
    <result column="doc_description" property="docDescription" jdbcType="VARCHAR" />
    <result column="download_path" property="downloadPath" jdbcType="VARCHAR" />
    <result column="download_times" property="downloadTimes" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, doc_name, doc_description, download_path, download_times, isdelete, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.portjs.base.entity.TXietongDocModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_xietong_doc_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_xietong_doc_model
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_xietong_doc_model
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portjs.base.entity.TXietongDocModelExample" >
    delete from t_xietong_doc_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portjs.base.entity.TXietongDocModel" >
    insert into t_xietong_doc_model (ID, doc_name, doc_description, 
      download_path, download_times, isdelete, 
      createtime)
    values (#{id,jdbcType=VARCHAR}, #{docName,jdbcType=VARCHAR}, #{docDescription,jdbcType=VARCHAR}, 
      #{downloadPath,jdbcType=VARCHAR}, #{downloadTimes,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.portjs.base.entity.TXietongDocModel" >
    insert into t_xietong_doc_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="docName != null" >
        doc_name,
      </if>
      <if test="docDescription != null" >
        doc_description,
      </if>
      <if test="downloadPath != null" >
        download_path,
      </if>
      <if test="downloadTimes != null" >
        download_times,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="docName != null" >
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docDescription != null" >
        #{docDescription,jdbcType=VARCHAR},
      </if>
      <if test="downloadPath != null" >
        #{downloadPath,jdbcType=VARCHAR},
      </if>
      <if test="downloadTimes != null" >
        #{downloadTimes,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.portjs.base.entity.TXietongDocModelExample" resultType="java.lang.Integer" >
    select count(*) from t_xietong_doc_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_xietong_doc_model
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.docName != null" >
        doc_name = #{record.docName,jdbcType=VARCHAR},
      </if>
      <if test="record.docDescription != null" >
        doc_description = #{record.docDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.downloadPath != null" >
        download_path = #{record.downloadPath,jdbcType=VARCHAR},
      </if>
      <if test="record.downloadTimes != null" >
        download_times = #{record.downloadTimes,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_xietong_doc_model
    set ID = #{record.id,jdbcType=VARCHAR},
      doc_name = #{record.docName,jdbcType=VARCHAR},
      doc_description = #{record.docDescription,jdbcType=VARCHAR},
      download_path = #{record.downloadPath,jdbcType=VARCHAR},
      download_times = #{record.downloadTimes,jdbcType=INTEGER},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portjs.base.entity.TXietongDocModel" >
    update t_xietong_doc_model
    <set >
      <if test="docName != null" >
        doc_name = #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docDescription != null" >
        doc_description = #{docDescription,jdbcType=VARCHAR},
      </if>
      <if test="downloadPath != null" >
        download_path = #{downloadPath,jdbcType=VARCHAR},
      </if>
      <if test="downloadTimes != null" >
        download_times = #{downloadTimes,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portjs.base.entity.TXietongDocModel" >
    update t_xietong_doc_model
    set doc_name = #{docName,jdbcType=VARCHAR},
      doc_description = #{docDescription,jdbcType=VARCHAR},
      download_path = #{downloadPath,jdbcType=VARCHAR},
      download_times = #{downloadTimes,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>