<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mgt.dao.TXietongMenuResourceMapper" >
  <resultMap id="BaseResultMap" type="com.project.mgt.entity.TXietongMenuResource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="VARCHAR" />
    <result column="values" property="values" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.values}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.values} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.values" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.values}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.values} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.values" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, key, url, parentId, values, isdelete, icon, name, bid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.project.mgt.entity.TXietongMenuResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_xietong_menu_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_xietong_menu_resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_xietong_menu_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.project.mgt.entity.TXietongMenuResourceExample" >
    delete from t_xietong_menu_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.project.mgt.entity.TXietongMenuResource" >
    insert into t_xietong_menu_resource (id,key,url,parentId,values,isdelete,icon,name,bid)
    values (#{id,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{values,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{bid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.project.mgt.entity.TXietongMenuResource" >
    insert into t_xietong_menu_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="values != null" >
        values,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bid != null" >
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="values != null" >
        #{values,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.project.mgt.entity.TXietongMenuResourceExample" resultType="java.lang.Integer" >
    select count(*) from t_xietong_menu_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_xietong_menu_resource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null" >
        key = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        parentId = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.values != null" >
        values = #{record.values,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_xietong_menu_resource
    set id = #{record.id,jdbcType=VARCHAR},
      key = #{record.key,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      parentId = #{record.parentid,jdbcType=VARCHAR},
      values = #{record.values,jdbcType=VARCHAR},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      bid = #{record.bid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.mgt.entity.TXietongMenuResource" >
    update t_xietong_menu_resource
    <set >
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="values != null" >
        values = #{values,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.mgt.entity.TXietongMenuResource" >
    update t_xietong_menu_resource
    set key = #{key,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=VARCHAR},
      values = #{values,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <resultMap id="resultMenus" type="com.project.mgt.entity.TXietongMenuResource" extends="BaseResultMap">
        <collection property="roles" ofType="com.project.mgt.entity.TXietongRole">
            <id column="rid" property="id" jdbcType="VARCHAR" />
            <result column="role_flag" property="roleFlag" jdbcType="VARCHAR" />
            <result column="rname" property="name" jdbcType="VARCHAR" />
            <result column="code" property="code" jdbcType="VARCHAR" />
            <result column="decription" property="decription" jdbcType="VARCHAR" />
            <result column="risdelete" property="isdelete" jdbcType="INTEGER" />
        </collection>
        <collection property="children" ofType="com.project.mgt.entity.TXietongMenuResource">
          <id column="id" property="id" jdbcType="VARCHAR" />
          <result column="key" property="key" jdbcType="VARCHAR" />
          <result column="url" property="url" jdbcType="VARCHAR" />
          <result column="parentId" property="parentid" jdbcType="VARCHAR" />
          <result column="values" property="values" jdbcType="VARCHAR" />
          <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
          <result column="icon" property="icon" jdbcType="VARCHAR" />
          <result column="mname" property="name" jdbcType="VARCHAR" />
          <result column="bid" property="bid" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
  <select id="getAllMenuResources" resultMap="resultMenus">
    SELECT m.*,m.name AS mname,r.`id` AS rid,r.`isdelete` AS risdelete,r.name AS rname ,r.* FROM t_xietong_menu_resource m
    INNER JOIN t_xietong_role_menu rm
    ON m.`id` = rm.`menu_id`
    INNER JOIN t_xietong_role r ON rm.`role_id` = r.`id` WHERE rm.status = "1" AND r.`isdelete`="1" AND m.`isdelete`="1"
  </select>

  <resultMap id="reBaseResultMap" type="com.project.mgt.entity.TXietongMenuResource">
    <id column="reid" property="id" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="VARCHAR" />
    <result column="values" property="values" jdbcType="VARCHAR" />
    <result column="reisdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="reicon" property="icon" jdbcType="VARCHAR" />
    <result column="renames" property="name" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />

  </resultMap>

  <select id="findMenuResourcesByMenuButtonName" resultMap="reBaseResultMap">
     SELECT b.*,b.`id` AS bid , re.`id` AS reid,re.`name` AS renames, b.`name` AS banme,b.`isdelete` AS bisdelete, re.`isdelete` AS reisdelete,re.* ,re.`icon` AS reicon
     FROM t_xietong_menu_button b  INNER JOIN t_xietong_button_resource br
     ON b.`id` = br.`bid`
     INNER JOIN t_xietong_menu_resource re ON br.`reid` = re.`id`
     WHERE b.`id` = #{name}
     AND  b.`isdelete` = "1" AND re.`isdelete`="1" AND  br.`status`="1"  LIMIT #{pageNo},#{pageSize}
  </select>


  <select id="countMenuResourcesByMenuButtonName" resultType="int">
     SELECT COUNT(*) FROM t_xietong_menu_button b  INNER JOIN t_xietong_button_resource br
     ON b.`id` = br.`bid`
     INNER JOIN t_xietong_menu_resource re ON br.`reid` = re.`id`
      WHERE b.`id` = #{name}
     AND  b.`isdelete` = "1" AND re.`isdelete`="1"  AND  br.`status`="1"
  </select>

  <select id="findMenuResourcesByUrl" resultMap="BaseResultMap">
    SELECT * FROM t_xietong_menu_resource r WHERE r.`url`= #{url} AND r.`isdelete` = "1"
  </select>

  <select id="findMenuResourcesByIcon" resultMap="BaseResultMap">
    SELECT * FROM t_xietong_menu_resource r WHERE r.`icon` = #{icon} AND r.`isdelete` = "1"
  </select>

  <insert id="insertResource"  parameterType="com.project.mgt.entity.TXietongMenuResource">
     insert into t_xietong_menu_resource (id,url,parentId,isdelete,icon,name,bid)
     values (#{id,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      #{parentid,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER},
      #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{bid,jdbcType=VARCHAR})
  </insert>


  <update id="updateResource">
  UPDATE t_xietong_menu_resource SET url = #{url}, NAME=#{name} ,icon = #{icon} WHERE id =#{id}
  </update>

  <update id="deleteResource">
    UPDATE t_xietong_menu_resource m SET m.`isdelete` = "0" WHERE m.`id` =#{id}
  </update>

  <resultMap id="mrBaseResultMap" type="com.project.mgt.entity.TXietongMenuResource">
    <id column="mrid" property="id" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="VARCHAR" />
    <result column="values" property="values" jdbcType="VARCHAR" />
    <result column="mrisdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="mrname" property="name" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findMenuResourceByRoleName" resultMap="mrBaseResultMap">
    SELECT mr.`id` AS mrid , mr.`isdelete` AS mrisdelete , mr.`name` AS mrname ,mr.*
    FROM t_xietong_role r
    INNER JOIN t_xietong_role_menu rm ON r.`id` = rm.`role_id`
    INNER JOIN t_xietong_menu_resource mr ON rm.`menu_id` = mr.`id`
    WHERE r.`id` = #{rname}
    AND r.`isdelete`="1" AND rm.`status`="1" AND mr.`isdelete` = "1";
  </select>


  <select id="findAllMenuResource" resultMap="BaseResultMap">
    SELECT * FROM t_xietong_menu_resource r WHERE r.`isdelete` = "1" LIMIT #{pageNo},#{pageSize}
  </select>

  <select id="countMenuResource" resultType="int">
    SELECT COUNT(r.`id`) FROM t_xietong_menu_resource r WHERE r.`isdelete` = "1"
  </select>


  <select id="findMenuResourceByButtonId" resultMap="BaseResultMap">
    SELECT r.* FROM t_xietong_menu_button b INNER JOIN t_xietong_button_resource br
    ON b.`id` = br.`bid` INNER JOIN t_xietong_menu_resource r  ON br.`reid` = r.`id`
    WHERE b.`id` = #{bid} AND r.`isdelete` = "1" AND br.`status` = "1" AND b.`isdelete` = "1"
  </select>



  <select id="findMenuResourceByPath" resultMap="BaseResultMap">
   SELECT re.* FROM t_xietong_menu_button b
  INNER JOIN t_xietong_button_resource br ON b.`id` = br.`bid`
  INNER JOIN t_xietong_menu_resource re ON re.`id` = br.`reid`
  INNER JOIN t_xietong_role_menu rm ON rm.`menu_id` = re.`id`
  WHERE b.`path` = #{path} AND rm.`role_id` = #{rid} AND b.`isdelete`="1"  AND br.`status` = "1" AND rm.`status` = "1"
  </select>








  <select id="findMenuResourceByRoleIds" resultMap="mrBaseResultMap">
    SELECT mr.`id` AS mrid , mr.`isdelete` AS mrisdelete , mr.`name` AS mrname ,mr.*
    FROM t_xietong_role r
    INNER JOIN t_xietong_role_menu rm ON r.`id` = rm.`role_id`
    INNER JOIN t_xietong_menu_resource mr ON rm.`menu_id` = mr.`id`
    WHERE r.`id` in
    <foreach item="rids" index="index" collection="rids" open="(" separator="," close=")">
    #{rids}
   </foreach>
    AND r.`isdelete`="1" AND rm.`status`="1" AND mr.`isdelete` = "1";
  </select>
</mapper>